# ğŸš™ ëª¨í‰ê·  ê²€ì • - ë…ë¦½í‘œë³¸ t-ê²€ì •
- ë°ì´í„°ì˜ ì •ê·œì„±ê³¼ ë“±ë¶„ì‚°ì„±ì„ ë§Œì¡±í•˜ëŠ” ê²ƒìœ¼ë¡œ ê°€ì •í•©ë‹ˆë‹¤.
- ë…ë¦½í‘œë³¸ t-ê²€ì •ì€ ë‘ ê°œì˜ ëª¨ì§‘ë‹¨ì—ì„œ í‘œë³¸ì„ ë…ë¦½ì ìœ¼ë¡œ ì¶”ì¶œí•˜ì—¬ í‘œë³¸ì˜ í‰ê· ì„ ë¹„êµí•©ë‹ˆë‹¤.

### ğŸš™ ë¬¸ì œ
- ì£¼ì–´ì§„ ë°ì´í„°ëŠ” íƒ€ì´íƒ€ë‹‰ ë°ì´í„°ì…‹ì´ë‹¤.
1. ë‘ ê·¸ë£¹ì˜ í‘œë³¸í‰ê· ì„ êµ¬í•˜ì‹œì˜¤.
2. ì„±ë³„(male, female)ì— ë”°ë¼ ìš”ê¸ˆ(Fare)ì˜ í‰ê· ì´ ì¼ì¹˜í•˜ëŠ”ì§€ ë…ë¦½í‘œë³¸ t-testë¥¼ ì‹¤ì‹œí•˜ê³  ê²€ì • í†µê³„ëŸ‰ê³¼ p-valueë¥¼ êµ¬í•˜ì‹œì˜¤.
3. ê·€ë¬´ê°€ì„¤ê³¼ ëŒ€ë¦½ê°€ì„¤ì„ ì œì‹œí•˜ê³  ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•  ê²ƒì¸ì§€ ì±„íƒí•  ê²ƒì¸ì§€ ì œì‹œí•˜ì‹œì˜¤.

### ğŸš™ íŒíŠ¸
- ë…ë¦½í‘œë³¸ t-testëŠ” ttest_ind í•¨ìˆ˜ì— array í˜•íƒœì˜ ë°ì´í„°ë¥¼ ë„£ìŠµë‹ˆë‹¤.

### ğŸš™ 1ë²ˆ ë¬¸ì œ
- ë‘ ê·¸ë£¹ì˜ í‘œë³¸í‰ê· ì„ êµ¬í•˜ì‹œì˜¤.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../../datasets/Part3/303_titanic.csv')

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,C123,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        773 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
male = df[df['Sex']=='male']['Fare']
print('ë‚¨ì ìš”ê¸ˆ í‰ê·  :', male.mean())
female = df[df['Sex']=='female']['Fare']
print('ì—¬ì ìš”ê¸ˆ í‰ê·  :', female.mean())

ë‚¨ì ìš”ê¸ˆ í‰ê·  : 25.523893414211443
ì—¬ì ìš”ê¸ˆ í‰ê·  : 44.47981783439491

### ğŸš™ 2ë²ˆ ë¬¸ì œ
- ì„±ë³„(male, female)ì— ë”°ë¼ ìš”ê¸ˆ(Fare)ì˜ í‰ê· ì´ ì¼ì¹˜í•˜ëŠ”ì§€ ë…ë¦½í‘œë³¸ t-testë¥¼ ì‹¤ì‹œí•˜ê³  ê²€ì • í†µê³„ëŸ‰ê³¼ p-valueë¥¼ êµ¬í•˜ì‹œì˜¤.

#### ğŸ’¦ ì£¼ì˜!
- ttest_ind í•¨ìˆ˜ì—ëŠ” array í˜•íƒœì˜ ë°ì´í„°ê°€ ë“¤ì–´ê°€ì•¼ í•©ë‹ˆë‹¤. array í˜•íƒœì¸ì§€ í™•ì¸í•œ í›„ì— ë„£ì–´ì£¼ì„¸ìš”.

In [5]:
from scipy.stats import ttest_ind

statistic, p_value = ttest_ind(male, female)
print('ê²€ì •í†µê³„ëŸ‰ :', statistic)
print('p_value :', p_value)

ê²€ì •í†µê³„ëŸ‰ : -5.529140269385719
p_value : 4.2308678700429995e-08

### 3ë²ˆ ë¬¸ì œ
- ê·€ë¬´ê°€ì„¤ê³¼ ëŒ€ë¦½ê°€ì„¤ì„ ì œì‹œí•˜ê³  ê·€ë¬´ê°€ì„¤ì„ ê¸°ê°í•  ê²ƒì¸ì§€ ì±„íƒí•  ê²ƒì¸ì§€ ì œì‹œí•˜ì‹œì˜¤.

In [6]:
if p_value > 0.05 : 
    print('ê·€ë¬´ê°€ì„¤ ì±„íƒ')
else :
    print('ê·€ë¬´ê°€ì„¤ ê¸°ê°')

ê·€ë¬´ê°€ì„¤ ê¸°ê°