# 🚙 모평균 검정 - 독립표본 t-검정
- 데이터의 정규성과 등분산성을 만족하는 것으로 가정합니다.
- 독립표본 t-검정은 두 개의 모집단에서 표본을 독립적으로 추출하여 표본의 평균을 비교합니다.

### 🚙 문제
- 주어진 데이터는 타이타닉 데이터셋이다.
1. 두 그룹의 표본평균을 구하시오.
2. 성별(male, female)에 따라 요금(Fare)의 평균이 일치하는지 독립표본 t-test를 실시하고 검정 통계량과 p-value를 구하시오.
3. 귀무가설과 대립가설을 제시하고 귀무가설을 기각할 것인지 채택할 것인지 제시하시오.

### 🚙 힌트
- 독립표본 t-test는 ttest_ind 함수에 array 형태의 데이터를 넣습니다.

### 🚙 1번 문제
- 두 그룹의 표본평균을 구하시오.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../../datasets/Part3/303_titanic.csv')

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,C85,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,C123,S

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        773 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
male = df[df['Sex']=='male']['Fare']
print('남자 요금 평균 :', male.mean())
female = df[df['Sex']=='female']['Fare']
print('여자 요금 평균 :', female.mean())

남자 요금 평균 : 25.523893414211443
여자 요금 평균 : 44.47981783439491

### 🚙 2번 문제
- 성별(male, female)에 따라 요금(Fare)의 평균이 일치하는지 독립표본 t-test를 실시하고 검정 통계량과 p-value를 구하시오.

#### 💦 주의!
- ttest_ind 함수에는 array 형태의 데이터가 들어가야 합니다. array 형태인지 확인한 후에 넣어주세요.

In [5]:
from scipy.stats import ttest_ind

statistic, p_value = ttest_ind(male, female)
print('검정통계량 :', statistic)
print('p_value :', p_value)

검정통계량 : -5.529140269385719
p_value : 4.2308678700429995e-08

### 3번 문제
- 귀무가설과 대립가설을 제시하고 귀무가설을 기각할 것인지 채택할 것인지 제시하시오.

In [6]:
if p_value > 0.05 : 
    print('귀무가설 채택')
else :
    print('귀무가설 기각')

귀무가설 기각