# ğŸ’’ Mobile Price ì˜ˆì¸¡ ëª¨ë¸ë§ - simple version
- Mobile_Price(Classification).ipynb íŒŒì¼ê³¼ ê°™ì€ ê³¼ì œë¥¼ ìˆ˜í–‰í•©ë‹ˆë‹¤.
- ë³€ìˆ˜ë¥¼ ìœ í˜•ì— ë”°ë¼ ë¶„ë¦¬í•˜ëŠ” ë‹¨ê³„ì™€ ìŠ¤ì¼€ì¼ë§ ìˆ˜í–‰ ë‹¨ê³„ë¥¼ ìƒëµí•˜ì—¬ ì „ì²´ ì½”ë“œë¥¼ ê°„ëµí•˜ê²Œ ì¤„ì˜€ìŠµë‹ˆë‹¤.

### ğŸ’’ ë¬¸ì œ
- ì£¼ì–´ì§„ í•™ìŠµìš© ë°ì´í„° X_train.csvë¥¼ í™œìš©í•˜ì—¬ ëª¨ë°”ì¼ í°ì˜ ê°€ê²© ë²”ìœ„(price_range)ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ëª¨í˜•ì„ ë§Œë“¤ê³ , í‰ê°€ìš© ë°ì´í„° X_test.csvì— ì ìš©í•˜ì—¬ ê°€ê²© ë²”ìœ„ ì˜ˆì¸¡ê°’ì„ í™•ë¥ ë¡œ ë§Œë“¤ì–´ csv íŒŒì¼ë¡œ ìƒì„±í•˜ì‹œì˜¤.(í‰ê°€ ì§€í‘œëŠ” ROC-AUC)

### ğŸ’’ íŒíŠ¸
- ë¶„ë¥˜ ê³¼ì œì¸ì§€ íšŒê·€ ê³¼ì œì¸ì§€ ìš°ì„  íŒŒì•…í•´ì•¼ í•©ë‹ˆë‹¤.
- í‰ê°€ ì§€í‘œë¡œ ROC-AUCë¥¼ ì‚¬ìš©í•˜ë¼ê³  í•œ ê²ƒìœ¼ë¡œ ë³´ì•„ ë¶„ë¥˜ê³¼ì œì…ë‹ˆë‹¤. ì´ì— ë§ëŠ” ì˜ˆì¸¡ ëª¨í˜•ìœ¼ë¡œ ë¶„ë¥˜ì— ì í•©í•œ ëª¨í˜•ì„ ì„ ì •í•´ì•¼ í•©ë‹ˆë‹¤.
- ë¶„ë¥˜ ê³¼ì œì—ì„œëŠ” predì™€ probaê°€ ëª¨ë‘ ì‚¬ìš©ë  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ë¬´ì—‡ì„ ë„ì¶œí•´ì•¼ í•˜ëŠ”ì§€ íŒŒì•…í•©ë‹ˆë‹¤. ì—¬ê¸°ì„œëŠ” í™•ë¥ ì„ ìš”êµ¬í•˜ê³  ìˆìœ¼ë¯€ë¡œ probaë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. 
- probaë¡œ í™•ë¥ ê°’ì„ ìš”êµ¬í•˜ëŠ” ê²½ìš°ì—ëŠ” í‰ê°€ì§€í‘œë¡œ ROC-AUCê°€ ì‚¬ìš©ë©ë‹ˆë‹¤.

# 1. í•„ìš”í•œ íŒ¨í‚¤ì§€ ë¶ˆëŸ¬ì˜¤ê¸°

In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

# 2. ë°ì´í„° ì½ì–´ì˜¤ê¸°

In [2]:
X_train = pd.read_csv("./Mobile_price_X_train.csv")
X_test = pd.read_csv("./Mobile_price_X_test.csv")
y_train = pd.read_csv("./Mobile_price_y_train.csv")

# 3. info() í•¨ìˆ˜ë¡œ ê¸°ë³¸ ì •ë³´ í™•ì¸

In [3]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  998 non-null    float64
 1   clock_speed    1000 non-null   float64
 2   fc             1000 non-null   int64
 3   int_memory     1000 non-null   int64
 4   m_dep          1000 non-null   float64
 5   mobile_wt      1000 non-null   int64
 6   n_cores        1000 non-null   int64
 7   pc             1000 non-null   int64
 8   px_height      1000 non-null   int64
 9   px_width       1000 non-null   int64
 10  ram            1000 non-null   int64
 11  sc_h           1000 non-null   int64
 12  sc_w           1000 non-null   int64
dtypes: float64(3), int64(10)
memory usage: 101.7 KB

In [4]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  500 non-null    int64
 1   clock_speed    500 non-null    float64
 2   fc             500 non-null    int64
 3   int_memory     500 non-null    int64
 4   m_dep          500 non-null    float64
 5   mobile_wt      500 non-null    int64
 6   n_cores        500 non-null    int64
 7   pc             500 non-null    int64
 8   px_height      500 non-null    int64
 9   px_width       500 non-null    int64
 10  ram            500 non-null    int64
 11  sc_h           500 non-null    int64
 12  sc_w           500 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 50.9 KB

In [5]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_range  1000 non-null   int64
dtypes: int64(1)
memory usage: 7.9 KB

# 4. ê²°ì¸¡ì¹˜ ì²˜ë¦¬í•˜ê¸°
- ì—¬ê¸°ì„œëŠ” ê°„ë‹¨í•œ ìˆ˜í–‰ì„ ìœ„í•´ dropna()ë¡œ ê²°ì¸¡ì¹˜ê°€ í¬í•¨ëœ ëª¨ë“  í–‰ì„ ì œê±°í•˜ì˜€ìŠµë‹ˆë‹¤.

In [6]:
train = pd.concat([X_train, y_train], axis=1)
train = train.dropna()
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 998 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  998 non-null    float64
 1   clock_speed    998 non-null    float64
 2   fc             998 non-null    int64
 3   int_memory     998 non-null    int64
 4   m_dep          998 non-null    float64
 5   mobile_wt      998 non-null    int64
 6   n_cores        998 non-null    int64
 7   pc             998 non-null    int64
 8   px_height      998 non-null    int64
 9   px_width       998 non-null    int64
 10  ram            998 non-null    int64
 11  sc_h           998 non-null    int64
 12  sc_w           998 non-null    int64
 13  price_range    998 non-null    int64
dtypes: float64(3), int64(11)
memory usage: 117.0 KB

# 5. describe() í•¨ìˆ˜ë¡œ ìš”ì•½ í†µê³„ëŸ‰ í™•ì¸í•˜ê¸°

In [7]:
train.describe()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,price_range
count,998.000000,998.000000,998.000000,998.000000,998.000000,998.000000,998.000000,998.000000,998.000000,998.000000,998.000000,998.000000,998.000000,998.000000
mean,1173.311623,1.518337,4.203407,31.628257,0.506914,140.542084,4.447896,9.737475,600.136273,1200.589178,1233.038076,12.273547,5.617234,0.500000
std,428.594180,0.831860,4.331280,18.040050,0.288012,36.030157,2.292281,6.110091,412.413027,426.424588,611.904030,4.217545,4.208196,0.500251
min,501.000000,0.500000,0.000000,2.000000,0.100000,80.000000,1.000000,0.000000,0.000000,500.000000,256.000000,5.000000,0.000000,0.000000
25%,808.250000,0.600000,1.000000,16.000000,0.200000,109.000000,2.000000,4.000000,276.500000,831.000000,704.250000,9.000000,2.000000,0.000000
50%,1138.000000,1.500000,3.000000,31.000000,0.500000,141.000000,4.000000,10.000000,518.000000,1183.500000,1209.500000,12.000000,5.000000,0.500000
75%,1522.750000,2.300000,7.000000,47.000000,0.800000,172.000000,6.000000,15.000000,879.750000,1533.500000,1700.500000,16.000000,8.000000,1.000000
max,1996.000000,3.000000,19.000000,64.000000,1.000000,200.000000,8.000000,20.000000,1914.000000,1998.000000,2811.000000,19.000000,18.000000,1.000000

- concatìœ¼ë¡œ í•©ì¹œ train ë°ì´í„°ì…‹ì„ ë‹¤ì‹œ ì›ë˜ì˜ ì»¬ëŸ¼ëŒ€ë¡œ ë¶„ë¦¬í•©ë‹ˆë‹¤.

In [8]:
x_train = train[['battery_power', 'clock_speed', 'fc', 'int_memory', 'm_dep',
       'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h',
       'sc_w']]
y_train = train[['price_range']]

# 6. í•™ìŠµìš© ë°ì´í„°ì…‹ê³¼ ê²€ì¦ìš© ë°ì´í„°ì…‹ ë¶„ë¦¬

In [9]:
from sklearn.model_selection import train_test_split

x_tr, x_valid, y_tr, y_valid = train_test_split(x_train, y_train['price_range'], 
                                                test_size = 0.3, stratify = y_train['price_range'])

# 7. ëª¨ë¸ í•™ìŠµ

In [10]:
from sklearn.ensemble import RandomForestClassifier

modelRF = RandomForestClassifier(random_state = 42)
modelRF.fit(x_tr, y_tr)

RandomForestClassifier(random_state=42)

# 8. ëª¨ë¸ í‰ê°€

In [11]:
y_validation_pred_proba = modelRF.predict_proba(x_valid)

In [12]:
from sklearn.metrics import roc_auc_score

roc_auc = roc_auc_score(y_valid, y_validation_pred_proba[:,1])
print(roc_auc)

0.9843999999999999

- validationìœ¼ë¡œ í‰ê°€í•œ ê²°ê³¼, ê²°ì¸¡ì¹˜ë¥¼ ëŒ€ì²´í•˜ê³  ìŠ¤ì¼€ì¼ë§ì„ ìˆ˜í–‰í–ˆë˜ ê¸°ì¡´ ë²„ì „ë³´ë‹¤ ë” ë†’ì€ ì„±ëŠ¥ì…ë‹ˆë‹¤. ğŸ˜‚
- í•˜ì´í¼ íŒŒë¼ë¯¸í„°ë¡œ íŠœë‹ì„ í•˜ê±°ë‚˜ ì—¬ëŸ¬ ë‹¨ê³„ë¡œ ìŠ¤ì¼€ì¼ë§ì„ ê±°ì¹œ ì´í›„ì— ì˜¤íˆë ¤ ì„±ëŠ¥ì´ ë–¨ì–´ì§ˆ ìˆ˜ ìˆë‹¤ëŠ” ê²ƒì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.ğŸ˜‚

# 9. íŒŒì¼ ì œì¶œ

In [13]:
pred = modelRF.predict_proba(X_test)[:,1]
result = pd.DataFrame({'pred':pred}).to_csv('ìˆ˜í—˜ë²ˆí˜¸.csv', index=False)
df = pd.read_csv('./ìˆ˜í—˜ë²ˆí˜¸.csv')
df

     pred
0    0.75
1    0.91
2    0.10
3    0.92
4    0.92
..    ...
495  0.81
496  0.23
497  0.25
498  0.98
499  0.91

[500 rows x 1 columns]