# ğŸ‘‘ Mobile Price ì˜ˆì¸¡ ëª¨ë¸ë§ (ë¶„ë¥˜ ê³¼ì œ í¸)
- ë¹…ë°ì´í„° ë¶„ì„ê¸°ì‚¬ ì‹¤ê¸° ì—°ìŠµì„ ìœ„í•´ ì œê°€ ë§Œë“  ìë£Œì…ë‹ˆë‹¤.
- ë°ì´í„°ì…‹ì€ kaggleì˜ ë°ì´í„°ì…‹ì„ ì œê°€ ë‹¤ì‹œ ê°€ê³µí•œ ë’¤ X_train, y_train, X_testë¡œ ë¶„ë¦¬í•˜ì˜€ìŠµë‹ˆë‹¤. ì›ë³¸ ë°ì´í„°ì…‹ì€ ë‹¤ìŒì˜ ì£¼ì†Œì—ì„œ í™•ì¸í•˜ì‹¤ ìˆ˜ ìˆìŠµë‹ˆë‹¤ : (https://www.kaggle.com/datasets/iabhishekofficial/mobile-price-classification/data?select=train.csv)

### ğŸ‘‘ ë¬¸ì œ
- ì£¼ì–´ì§„ í•™ìŠµìš© ë°ì´í„° X_train.csvë¥¼ í™œìš©í•˜ì—¬ ëª¨ë°”ì¼ í°ì˜ ê°€ê²© ë²”ìœ„(price_range)ë¥¼ ì˜ˆì¸¡í•˜ëŠ” ëª¨í˜•ì„ ë§Œë“¤ê³ , í‰ê°€ìš© ë°ì´í„° X_test.csvì— ì ìš©í•˜ì—¬ ê°€ê²© ë²”ìœ„ ì˜ˆì¸¡ê°’ì„ í™•ë¥ ë¡œ ë§Œë“¤ì–´ csv íŒŒì¼ë¡œ ìƒì„±í•˜ì‹œì˜¤.(í‰ê°€ ì§€í‘œëŠ” ROC-AUC)

### ğŸ‘‘ íŒíŠ¸
- ë¶„ë¥˜ ê³¼ì œì¸ì§€ íšŒê·€ ê³¼ì œì¸ì§€ ìš°ì„  íŒŒì•…í•´ì•¼ í•©ë‹ˆë‹¤.
- í‰ê°€ ì§€í‘œë¡œ ROC-AUCë¥¼ ì‚¬ìš©í•˜ë¼ê³  í•œ ê²ƒìœ¼ë¡œ ë³´ì•„ ë¶„ë¥˜ê³¼ì œì…ë‹ˆë‹¤. ì´ì— ë§ëŠ” ì˜ˆì¸¡ ëª¨í˜•ìœ¼ë¡œ ë¶„ë¥˜ì— ì í•©í•œ ëª¨í˜•ì„ ì„ ì •í•´ì•¼ í•©ë‹ˆë‹¤.
- ë¶„ë¥˜ ê³¼ì œì—ì„œëŠ” predì™€ probaê°€ ëª¨ë‘ ì‚¬ìš©ë  ìˆ˜ ìˆìœ¼ë¯€ë¡œ ë¬´ì—‡ì„ ë„ì¶œí•´ì•¼ í•˜ëŠ”ì§€ íŒŒì•…í•©ë‹ˆë‹¤. ì—¬ê¸°ì„œëŠ” í™•ë¥ ì„ ìš”êµ¬í•˜ê³  ìˆìœ¼ë¯€ë¡œ probaë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤. 
- probaë¡œ í™•ë¥ ê°’ì„ ìš”êµ¬í•˜ëŠ” ê²½ìš°ì—ëŠ” í‰ê°€ì§€í‘œë¡œ ROC-AUCê°€ ì‚¬ìš©ë©ë‹ˆë‹¤.

# 1. í•„ìš”í•œ íŒ¨í‚¤ì§€ ë¶ˆëŸ¬ì˜¤ê¸°
- ê¸°ë³¸ì ì¸ íŒ¨í‚¤ì§€ë“¤ì„ ë¶ˆëŸ¬ì˜µë‹ˆë‹¤.

In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

# 2. ë°ì´í„° íŒŒì¼ ì½ê¸°
- ì‹œí—˜ì—ëŠ” ì´ 3ê°œì˜ íŒŒì¼ì´ ì£¼ì–´ì§‘ë‹ˆë‹¤.
- X_train : í•™ìŠµ featureë¡œ ì‚¬ìš©ë˜ëŠ” ë°ì´í„°ì…ë‹ˆë‹¤. 
- X_test : í‰ê°€ë¥¼ ìœ„í•´ ì‚¬ìš©ë˜ëŠ” ë°ì´í„°ì…ë‹ˆë‹¤.
- y_train : íƒ€ê²Ÿìœ¼ë¡œ ì‚¬ìš©ë˜ëŠ” ë°ì´í„°ì…ë‹ˆë‹¤.

In [2]:
x_train = pd.read_csv("./Mobile_price_X_train.csv")
x_test = pd.read_csv("./Mobile_price_X_test.csv")
y_train = pd.read_csv("./Mobile_price_y_train.csv")

In [3]:
x_train

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w
0,842.0,2.2,1,7,0.6,188,2,2,20,756,2549,9,7
1,1821.0,1.2,13,44,0.6,141,2,14,1208,1212,1411,8,2
2,1859.0,0.5,3,22,0.7,164,1,7,1004,1654,1067,17,1
3,1954.0,0.5,0,24,0.8,187,4,0,512,1149,700,16,3
4,1445.0,0.5,0,53,0.7,174,7,14,386,836,1099,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,586.0,2.8,2,15,0.2,83,3,11,241,854,2592,12,8
996,1617.0,2.4,8,36,0.8,85,1,9,743,1426,296,5,3
997,674.0,2.9,1,21,0.2,198,3,4,576,1809,1180,6,3
998,794.0,0.5,0,2,0.8,106,6,14,1222,1890,668,13,4
999,1512.0,0.9,4,46,0.1,145,5,5,336,670,869,18,10

In [4]:
y_train

     price_range
0              1
1              1
2              1
3              0
4              0
..           ...
995            1
996            0
997            0
998            0
999            0

[1000 rows x 1 columns]

# 3. info() í•¨ìˆ˜ë¥¼ í†µí•´ ë°ì´í„°ì— ëŒ€í•œ ê¸°ë³¸ ì •ë³´ í™•ì¸
- ë°ì´í„°ì˜ í–‰ì˜ ìˆ˜ì™€ ì—´ì˜ ìˆ˜ë¥¼ í™•ì¸í•©ë‹ˆë‹¤.
- ê²°ì¸¡ì¹˜ë¥¼ í™•ì¸í•˜ê³  ë§Œì•½ ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•œë‹¤ë©´ ì´ë¥¼ ë³´ê°„í•˜ê±°ë‚˜ ì‚­ì œí•˜ëŠ” ë“±ì˜ ë°©ë²•ìœ¼ë¡œ ì²˜ë¦¬í•´ì•¼ í•©ë‹ˆë‹¤.

In [5]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  998 non-null    float64
 1   clock_speed    1000 non-null   float64
 2   fc             1000 non-null   int64
 3   int_memory     1000 non-null   int64
 4   m_dep          1000 non-null   float64
 5   mobile_wt      1000 non-null   int64
 6   n_cores        1000 non-null   int64
 7   pc             1000 non-null   int64
 8   px_height      1000 non-null   int64
 9   px_width       1000 non-null   int64
 10  ram            1000 non-null   int64
 11  sc_h           1000 non-null   int64
 12  sc_w           1000 non-null   int64
dtypes: float64(3), int64(10)
memory usage: 101.7 KB

In [6]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  500 non-null    int64
 1   clock_speed    500 non-null    float64
 2   fc             500 non-null    int64
 3   int_memory     500 non-null    int64
 4   m_dep          500 non-null    float64
 5   mobile_wt      500 non-null    int64
 6   n_cores        500 non-null    int64
 7   pc             500 non-null    int64
 8   px_height      500 non-null    int64
 9   px_width       500 non-null    int64
 10  ram            500 non-null    int64
 11  sc_h           500 non-null    int64
 12  sc_w           500 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 50.9 KB

# 4. ê²°ì¸¡ì¹˜ ì²˜ë¦¬
- X_train.csvì—ëŠ” "battery_power"ë¼ëŠ” ì»¬ëŸ¼ì— ê²°ì¸¡ì¹˜ê°€ ì¡´ì¬í•©ë‹ˆë‹¤. ì—¬ê¸°ì„œëŠ” ì´ ê²°ì¸¡ì¹˜ë¥¼ ì¤‘ì•™ê°’ìœ¼ë¡œ ë³´ê°„í•˜ëŠ” ë°©ë²•ìœ¼ë¡œ ì²˜ë¦¬í•˜ê² ìŠµë‹ˆë‹¤.

In [7]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values = np.nan, strategy = 'median')
x_train[['battery_power']] = imputer.fit_transform(x_train[['battery_power']])

In [8]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1000 non-null   float64
 1   clock_speed    1000 non-null   float64
 2   fc             1000 non-null   int64
 3   int_memory     1000 non-null   int64
 4   m_dep          1000 non-null   float64
 5   mobile_wt      1000 non-null   int64
 6   n_cores        1000 non-null   int64
 7   pc             1000 non-null   int64
 8   px_height      1000 non-null   int64
 9   px_width       1000 non-null   int64
 10  ram            1000 non-null   int64
 11  sc_h           1000 non-null   int64
 12  sc_w           1000 non-null   int64
dtypes: float64(3), int64(10)
memory usage: 101.7 KB

# 5. describe() í•¨ìˆ˜ë¥¼ í†µí•´ ìš”ì•½ í†µê³„ëŸ‰ í™•ì¸
- describe() í•¨ìˆ˜ëŠ” ê° ì—´ì— ëŒ€í•œ í†µê³„ëŸ‰ì„ ë³´ì—¬ì¤ë‹ˆë‹¤.
- ì—¬ê¸°ì„œëŠ” ì´ìƒì¹˜ë¥¼ í™•ì¸í•˜ê³ ì í•©ë‹ˆë‹¤. 
- ì˜ˆë¥¼ ë“¤ì–´, í‰ê·  ë° í‘œì¤€í¸ì°¨ë¥¼ ê³ ë ¤í•  ë•Œ maxê°’ì´ ë§¤ìš° í´ ë•Œ ì´ìƒì¹˜ë¡œ íŒë‹¨í•©ë‹ˆë‹¤. 
- ì•„ë˜ì˜ ë°ì´í„°ì…‹ì—ëŠ” íŠ¹ë³„í•œ ì´ìƒì¹˜ëŠ” ë³´ì´ì§€ ì•ŠëŠ” ê²ƒìœ¼ë¡œ íŒë‹¨ë©ë‹ˆë‹¤.

In [9]:
x_train.describe()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,1173.241000,1.519400,4.212000,31.645000,0.507100,140.531000,4.449000,9.749000,601.650000,1201.089000,1232.402000,12.268000,5.613000
std,428.167851,0.832043,4.344183,18.048067,0.287893,36.012302,2.294049,6.109773,413.507064,426.239324,611.732959,4.215204,4.205106
min,501.000000,0.500000,0.000000,2.000000,0.100000,80.000000,1.000000,0.000000,0.000000,500.000000,256.000000,5.000000,0.000000
25%,808.750000,0.600000,1.000000,16.000000,0.200000,109.000000,2.000000,4.000000,277.500000,831.000000,703.750000,9.000000,2.000000
50%,1138.000000,1.500000,3.000000,31.000000,0.500000,141.000000,4.000000,10.000000,518.500000,1185.000000,1209.500000,12.000000,5.000000
75%,1522.250000,2.300000,7.000000,47.000000,0.800000,172.000000,6.000000,15.000000,882.250000,1534.500000,1699.500000,16.000000,8.000000
max,1996.000000,3.000000,19.000000,64.000000,1.000000,200.000000,8.000000,20.000000,1914.000000,1998.000000,2811.000000,19.000000,18.000000

# 6. ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì™€ ëª…ëª©í˜• ë³€ìˆ˜ë¥¼ ë¶„ë¦¬
- ì´ ë°ì´í„°ì…‹ì€ ëª¨ë‘ ìˆ˜ì¹˜í˜• ë³€ìˆ˜ë¡œë§Œ ì´ë£¨ì–´ì ¸ ìˆìŠµë‹ˆë‹¤. ê·¸ëŸ¬ë‚˜ ëª…ëª©í˜• ë³€ìˆ˜ê°€ ì¡´ì¬í•˜ëŠ” ë°ì´í„°ì…‹ë„ ìˆìœ¼ë¯€ë¡œ ì´ëŸ¬í•œ ë³€ìˆ˜ë“¤ì„ ê° ë¦¬ìŠ¤íŠ¸ì— ë¶„ë¦¬í•˜ëŠ” ê²ƒì´ ë„ì›€ì´ ë©ë‹ˆë‹¤.

In [10]:
col_number = ['battery_power', 'clock_speed', 'fc', 'int_memory', 'm_dep', 'mobile_wt', 
              'n_cores', 'pc', 'px_height', 'px_width', 'ram', 'sc_h', 'sc_w']
col_category = []
col_y = ['price_range']

# 7. í•™ìŠµ ë°ì´í„°ì™€ ê²€ì¦ ë°ì´í„°ë¡œ í•™ìŠµ ë°ì´í„°ë¥¼ ë‹¤ì‹œ ë¶„í• 
- í•™ìŠµ ë°ì´í„°ë¡œ ë§Œë“  ëª¨ë¸ì˜ ì¼ë°˜í™” ì„±ëŠ¥ì„ ê²€ì¦í•˜ê¸° ìœ„í•´ ë‹¤ì‹œ ë¶„í• í•˜ì—¬ ê²€ì¦í•©ë‹ˆë‹¤.
- ê³¼ì í•©ì´ ë°œìƒí•˜ëŠ” ê²½ìš°ì— ëª¨ë¸ì„ ë°”ê¾¸ê±°ë‚˜ í•˜ì´í¼íŒŒë¼ë¯¸í„°ë¥¼ ì¡°ì •í•˜ëŠ” ë“±ì˜ ë°©ì‹ìœ¼ë¡œ ëª¨ë¸ë§ ë°©ì‹ì„ ë°”ê¿‰ë‹ˆë‹¤. 
- ì—¬ê¸°ì„œ í•™ìŠµ ë°ì´í„°ì™€ ê²€ì¦ ë°ì´í„°ë¥¼ ë‚˜ëˆ„ëŠ” ë¹„ìœ¨ì€ 0.3ìœ¼ë¡œ ì„¤ì •í•˜ì˜€ìŠµë‹ˆë‹¤.
### ğŸ’¢ğŸ’¥ ì£¼ì˜
- ë¶„ë¥˜ê³¼ì œì—ì„œëŠ” stratify ì˜µì…˜ì„ ì‚¬ìš©í•˜ëŠ” ê²½ìš°ê°€ ë§ìŠµë‹ˆë‹¤. í´ë˜ìŠ¤ì˜ ë¹„ìœ¨ì— ë”°ë¼ í›ˆë ¨-ê²€ì¦ ë°ì´í„°ì˜ ë¹„ìœ¨ì„ ìœ ì§€í•˜ê¸° ìœ„í•´ì„œëŠ” ì´ ì˜µì…˜ì„ ë°˜ë“œì‹œ ì‚¬ìš©í•´ì•¼ í•©ë‹ˆë‹¤.

In [11]:
from sklearn.model_selection import train_test_split

x_tr, x_valid, y_tr, y_valid = train_test_split(x_train, y_train['price_range'], 
                                                test_size = 0.3,
                                                stratify = y_train['price_range'])

# 8. ìŠ¤ì¼€ì¼ë§ ìˆ˜í–‰
- ìŠ¤ì¼€ì¼ë§ì€ ë°ì´í„°ì˜ íŠ¹ì„±ë“¤ì„ ë™ì¼í•œ ìŠ¤ì¼€ì¼ë¡œ ë³€í™˜í•˜ì—¬ ëª¨ë¸ì´ í•™ìŠµí•˜ëŠ” ë° ë„ì›€ì„ ì¤ë‹ˆë‹¤. 
- ê° featureë“¤ì˜ ë‹¨ìœ„ê°€ ë‹¤ë¥´ê¸° ë•Œë¬¸ì— ì´ë¥¼ ë™ì¼í•œ ì¡°ê±´ìœ¼ë¡œ ë§Œë“¤ì–´ì£¼ê³ ì ìŠ¤ì¼€ì¼ë§ì„ ì§„í–‰í•©ë‹ˆë‹¤.
- ê·¸ë¦¬ê³  ìŠ¤ì¼€ì¼ë§ì€ í•™ìŠµ ë°ì´í„°ì— ëŒ€í•´ì„œë§Œ ì§„í–‰í•˜ë¯€ë¡œ scaler.fitì„ ì‚¬ìš©í•˜ì—¬ ìŠ¤ì¼€ì¼ë§ íŒŒë¦¬ë¯¸í„°(í‰ê· ê³¼ í‘œì¤€í¸ì)ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.
- ê²€ì¦ ë°ì´í„°ì™€ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì— ëŒ€í•´ì„œëŠ” scaler.fit()ì„ í˜¸ì¶œí•˜ì§€ ì•Šê³ , í•™ìŠµ ë°ì´í„°ì—ì„œ ê³„ì‚°í•œ íŒŒë¼ë¯¸í„°ë¥¼ ì‚¬ìš©í•˜ì—¬ scaler.transform()ì„ í˜¸ì¶œí•©ë‹ˆë‹¤.
- ì•„ë˜ì—ì„œ ì‚¬ìš©ëœ StandardScalerëŠ” í‰ê· ì„ 0, í‘œì¤€í¸ì°¨ë¥¼ 1ë¡œ ë§ì¶°ì£¼ëŠ” ìŠ¤ì¼€ì¼ëŸ¬ì…ë‹ˆë‹¤.

In [12]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(x_tr[col_number])

x_tr[col_number] = scaler.transform(x_tr[col_number])
x_valid[col_number] = scaler.transform(x_valid[col_number])
x_test[col_number] = scaler.transform(x_test[col_number])

# 9. ëª¨ë¸ í•™ìŠµ
- ë¶„ë¥˜ ê³¼ì œë¥¼ ìˆ˜í–‰í•  ìˆ˜ ìˆëŠ” ëª¨ë¸ì˜ ì¢…ë¥˜ëŠ” ë§¤ìš° ë‹¤ì–‘í•©ë‹ˆë‹¤.
- ì‹œí—˜ì—ì„œëŠ” ëœë¤ í¬ë ˆìŠ¤íŠ¸ë¥¼ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ìœ ë¦¬í•œ ê²½ìš°ê°€ ë§ìŠµë‹ˆë‹¤.
- ëœë¤ í¬ë ˆìŠ¤íŠ¸ëŠ” ë¶„ë¥˜ ê³¼ì œì™€ íšŒê·€ ê³¼ì œ(RandomForestRegressor)ì— ëª¨ë‘ ì‚¬ìš©ë  ìˆ˜ ìˆê³ , ë°ì´í„°ì— ë”°ë¼ ë‹¤ë¥´ì§€ë§Œ ëŒ€ì²´ë¡œ ëª¨ë¸ì˜ ì„±ëŠ¥ë„ ìš°ìˆ˜í•œ í¸ì…ë‹ˆë‹¤.

In [13]:
from sklearn.ensemble import RandomForestClassifier

modelRF = RandomForestClassifier(random_state = 42)
modelRF.fit(x_tr, y_tr)

RandomForestClassifier(random_state=42)

# 10. ëª¨ë¸ í‰ê°€
- ê²€ì¦ ë°ì´í„° X_validì— ëŒ€í•œ ì˜ˆì¸¡ì„ ìˆ˜í–‰í•œ ë’¤, ì´ ì˜ˆì¸¡ ê²°ê³¼ë¥¼ ì‹¤ì œ ê²€ì¦ ë°ì´í„°ì˜ ë¼ë²¨(y_valid)ì™€ ë¹„êµí•˜ì—¬ ì ìˆ˜ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.

In [14]:
y_validation_pred_proba = modelRF.predict_proba(x_valid)

In [15]:
from sklearn.metrics import roc_auc_score

scoreRF = roc_auc_score(y_valid, y_validation_pred_proba[:, 1])

In [16]:
print(scoreRF)

0.9779333333333332

- ëœë¤ í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸(modelRF)ì„ ì‚¬ìš©í•˜ì—¬ í…ŒìŠ¤íŠ¸ ë°ì´í„°(x_test)ì— ëŒ€í•œ í´ë˜ìŠ¤ ì˜ˆì¸¡ í™•ë¥ ì„ ê³„ì‚°í•©ë‹ˆë‹¤.

In [17]:
pred = modelRF.predict_proba(x_test)[:, 1]

# 11. íŒŒì¼ ì œì¶œ
- ì‹œí—˜ì—ì„œ ìš”êµ¬í•˜ëŠ” í˜•íƒœë¡œ csv íŒŒì¼ì„ ì œì¶œí•©ë‹ˆë‹¤. index = Falseë¡œ ì§€ì •í•´ì„œ ìƒˆë¡œìš´ ì¸ë±ìŠ¤ê°€ í¬í•¨ë˜ì§€ ì•Šë„ë¡ ì„¤ì •í•©ë‹ˆë‹¤.
- ë§Œë“¤ì–´ì§„ ìµœì¢… ì œì¶œë³¸ì„ ë‹¤ì‹œ í•œë²ˆ ì½ì–´ ì œëŒ€ë¡œ ë§Œë“¤ì–´ì¡ŒëŠ”ì§€ ë‚´ìš©ì„ í™•ì¸í•©ë‹ˆë‹¤.

In [18]:
pd.DataFrame({'submission':pred}).to_csv('mobile_submission.csv', index = False)

In [19]:
df = pd.read_csv('./mobile_submission.csv')
df

     submission
0          0.77
1          0.90
2          0.10
3          0.89
4          0.92
..          ...
495        0.86
496        0.17
497        0.29
498        0.95
499        0.86

[500 rows x 1 columns]