# ğŸ’ ë‹¤ì´ì•„ëª¬ë“œ ê°€ê²© ì˜ˆì¸¡ (íšŒê·€ ê³¼ì œ)

- ë¹…ë°ì´í„° ë¶„ì„ê¸°ì‚¬ ì‹¤ê¸° ì—°ìŠµì„ ìœ„í•´ ì œê°€ ë§Œë“  ìë£Œì…ë‹ˆë‹¤.
- seaborn ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ load_datasetì„ í†µí•´ 'diamonds' ë°ì´í„°ì…‹ì„ ê°€ì ¸ì˜¨ í›„, ê·¸ê²ƒì„ x_train, x_test, y_trainìœ¼ë¡œ ì§ì ‘ ë¶„ë¦¬í•˜ì—¬ ë§Œë“  ë°ì´í„°ì…‹ì…ë‹ˆë‹¤. ì‹œí—˜ ì œì¶œ ì–‘ì‹ê³¼ ìœ ì‚¬í•˜ê²Œ ë§Œë“¤ê¸° ìœ„í•´ ê° ë°ì´í„°ì˜ ê³ ìœ í•œ ì¸ë±ìŠ¤ì¸ 'item_id'ì„ ì¶”ê°€í•˜ì˜€ìŠµë‹ˆë‹¤. ì›ë³¸ ë°ì´í„°ì…‹ì€ load_dataset('diamonds')ë¡œ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### ğŸ’ ë¬¸ì œ
- ì£¼ì–´ì§„ í•™ìŠµìš© ë°ì´í„° x_train.csvë¥¼ í™œìš©í•˜ì—¬ ê°€ê²©(price)ì„ ì˜ˆì¸¡í•˜ëŠ” ëª¨í˜•ì„ ë§Œë“¤ê³ , í‰ê°€ìš© ë°ì´í„° x_test.csvì— ì ìš©í•˜ì—¬ ê°€ê²©ì„ ì˜ˆì¸¡í•˜ì—¬ csv íŒŒì¼ë¡œ ìƒì„±í•˜ì‹œì˜¤.(í‰ê°€ ì§€í‘œëŠ” rmse)

### ğŸ’ íŒíŠ¸
- í‰ê°€ ì§€í‘œë¡œ ë³´ì•„ íšŒê·€ ê³¼ì œì„ì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- íšŒê·€ ê³¼ì œì—ì„œëŠ” predictë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

# 1. íŒ¨í‚¤ì§€ ë¶ˆëŸ¬ì˜¤ê¸°

In [32]:
import pandas as pd
import numpy as np

In [33]:
import seaborn as sns

df = sns.load_dataset('diamonds')

x=df.drop(columns = 'price')
y=df['price']

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=2023)

x_test = pd.DataFrame(x_test.reset_index())
x_train = pd.DataFrame(x_train.reset_index())
y_train = pd.DataFrame(y_train.reset_index())

x_test.rename(columns = {'index':'item_id'}, inplace = True)
x_train.rename(columns = {'index':'item_id'}, inplace = True)
y_train.columns = ['item_id','price']

In [34]:
print(x_test.shape)
print(x_train.shape)
print(y_train.shape)

(10788, 10)
(43152, 10)
(43152, 2)

In [35]:
x_test.to_csv('Diamond_x_test.csv', index = False)
x_train.to_csv('Diamond_x_train.csv', index = False)
y_train.to_csv('Diamond_y_train.csv', index = False)

# 2. ë°ì´í„° ì½ì–´ì˜¤ê¸°

In [73]:
x_test = pd.read_csv('./Diamond_x_test.csv')
x_train = pd.read_csv('./Diamond_x_train.csv')
y_train = pd.read_csv('./Diamond_y_train.csv')

In [74]:
x_test.head(1)

   item_id  carat   cut color clarity  depth  table     x     y     z
0    25388   2.02  Fair     H     SI2   56.5   61.0  8.33  8.37  4.72

In [75]:
x_train.head(1)

   item_id  carat        cut color clarity  depth  table     x     y     z
0    48240   0.86  Very Good     J     SI2   63.2   61.0  6.05  5.97  3.79

In [76]:
y_train.head(1)

   item_id  price
0    48240   1950

# 3. info() í•¨ìˆ˜ë¡œ ê¸°ë³¸ ì •ë³´ í™•ì¸í•˜ê¸°

In [77]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10788 entries, 0 to 10787
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  10788 non-null  int64
 1   carat    10788 non-null  float64
 2   cut      10788 non-null  object
 3   color    10788 non-null  object
 4   clarity  10788 non-null  object
 5   depth    10788 non-null  float64
 6   table    10788 non-null  float64
 7   x        10788 non-null  float64
 8   y        10788 non-null  float64
 9   z        10788 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 842.9+ KB

In [78]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43152 entries, 0 to 43151
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  43152 non-null  int64
 1   carat    43152 non-null  float64
 2   cut      43152 non-null  object
 3   color    43152 non-null  object
 4   clarity  43152 non-null  object
 5   depth    43152 non-null  float64
 6   table    43152 non-null  float64
 7   x        43152 non-null  float64
 8   y        43152 non-null  float64
 9   z        43152 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.3+ MB

In [79]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43152 entries, 0 to 43151
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  43152 non-null  int64
 1   price    43152 non-null  int64
dtypes: int64(2)
memory usage: 674.4 KB

- ì‹œí—˜ì—ì„œì˜ íŒŒì¼ ì œì¶œ ì–‘ì‹ì„ ë”°ë¥´ê¸° ìœ„í•´ x_testì— ì¶”ê°€í–ˆë˜ 'item_id'ì„ ë”°ë¡œ ë¶„ë¦¬í•˜ì—¬ ì‹œë¦¬ì¦ˆë¡œ ì €ì¥í•´ë‘¡ë‹ˆë‹¤.

In [80]:
item_id = x_test['item_id']

x_train = x_train.drop(columns='item_id')
x_test = x_test.drop(columns='item_id')
y_train = y_train.drop(columns='item_id')

# 4. ê²°ì¸¡ì¹˜ ì²˜ë¦¬
- ì´ ë°ì´í„°ì…‹ì—ëŠ” ê²°ì¸¡ì¹˜ëŠ” ì—†ìœ¼ë¯€ë¡œ ì´ ë‹¨ê³„ëŠ” í†µê³¼í•©ë‹ˆë‹¤.

# 5. describe() í•¨ìˆ˜ë¡œ ìš”ì•½ í†µê³„ëŸ‰ í™•ì¸
- ë‹¤ë¥¸ ì½”ë“œ íŒŒì¼ì˜ ë°ì´í„°ì…‹ê³¼ëŠ” ë‹¬ë¦¬, ì•ì„œ info()ë¥¼ í†µí•´ ì´ ë°ì´í„°ì…‹ì—ëŠ” objectë¼ëŠ” ë°ì´í„° ìœ í˜•ì´ ìˆë‹¤ëŠ” ê²ƒì„ ë³´ì•˜ìŠµë‹ˆë‹¤.
- describe()ëŠ” ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì— ëŒ€í•˜ì—¬ ìš”ì•½ í†µê³„ëŸ‰ì„ ì œì‹œí•´ì£¼ì§€ë§Œ, object ìœ í˜•ì˜ ì»¬ëŸ¼ì€ ì œì‹œí•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.
- ğŸ’¦ object ìœ í˜•ì˜ ì»¬ëŸ¼ì€ describe(include = 'object')ë¡œ ë³€ìˆ˜ë¥¼ ì§€ì •í•´ì£¼ì–´ì•¼ ìš”ì•½ í†µê³„ëŸ‰ì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [81]:
x_train.describe()

,carat,depth,table,x,y,z
count,43152.000000,43152.000000,43152.000000,43152.000000,43152.000000,43152.000000
mean,0.798534,61.754795,57.452181,5.731961,5.735654,3.539142
std,0.474879,1.429708,2.223297,1.122093,1.149875,0.695689
min,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000
25%,0.400000,61.100000,56.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,10.740000,58.900000,8.060000

- ğŸ’¦ ì¼ë‹¨ y ì»¬ëŸ¼ì˜ maxê°’ì´ í‰ê· ì— ë¹„í•´ ë‹¤ì†Œ í° ê²ƒìœ¼ë¡œ ë³´ì•„ ì´ìƒì¹˜ë¡œ íŒë‹¨ë©ë‹ˆë‹¤. nlargest() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ì´ëŸ¬í•œ ì´ìƒì¹˜ê°€ ì–¼ë§ˆë‚˜ ìˆëŠ”ì§€ í™•ì¸í•©ë‹ˆë‹¤.

In [93]:
x_train['y'].nlargest(5)

6121     31.80
15082    10.54
6533     10.16
42041    10.10
230       9.94
Name: y, dtype: float64

- ğŸ’¦ nlargest(5)ì˜ ê²°ê³¼, ê°€ì¥ í° ê°’ì¸ 31.80ë§Œ ì´ìƒì¹˜ë¡œ ê°„ì£¼í•˜ê³  í‰ê· ê°’ìœ¼ë¡œ ë°”ê¿‰ë‹ˆë‹¤.

In [94]:
x_train['y'] = np.where(x_train['y']>31, x_train['y'].mean(), x_train['y'])
x_train.describe()

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
count,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,...,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000,30206.000000
mean,0.800190,61.759078,57.460541,5.735085,5.736757,3.541376,0.030954,0.091008,0.397438,0.256240,...,0.100444,0.051811,0.014004,0.031318,0.240946,0.171754,0.152652,0.228994,0.066940,0.093392
std,0.475669,1.439045,2.230419,1.123624,1.115825,0.696442,0.173196,0.287626,0.489376,0.436563,...,0.300596,0.221649,0.117508,0.174179,0.427664,0.377173,0.359657,0.420192,0.249923,0.290986
min,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.400000,61.100000,56.000000,4.710000,4.720000,2.910000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.700000,61.800000,57.000000,5.700000,5.720000,3.530000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.010000,79.000000,95.000000,10.740000,10.540000,6.980000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

- ê·¸ë¦¬ê³  object ìœ í˜•ì˜ ì»¬ëŸ¼ì€ ë”°ë¡œ í™•ì¸í•©ë‹ˆë‹¤.

In [82]:
x_train.describe(include = 'object')

          cut  color clarity
count   43152  43152   43152
unique      5      7       8
top     Ideal      G     SI1
freq    17275   9067   10389

In [83]:
x_test.describe()

,carat,depth,table,x,y,z
count,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000
mean,0.795564,61.727846,57.477197,5.727941,5.730014,3.537101
std,0.470540,1.444081,2.278709,1.120475,1.110676,0.744426
min,0.200000,50.800000,44.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,4.720000,4.730000,2.910000
50%,0.700000,61.800000,57.000000,5.690000,5.700000,3.520000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.032500
max,4.010000,78.200000,79.000000,10.020000,9.940000,31.800000

In [84]:
x_test.describe(include = 'object')

          cut  color clarity
count   10788  10788   10788
unique      5      7       8
top     Ideal      G     SI1
freq     4276   2225    2676

- ğŸ’¦ ë°ì´í„° ìœ í˜•ì´ objectì¸ ë°ì´í„°ì˜ ê²½ìš°ì—ëŠ” ì›-í•« ì¸ì½”ë”©ì„ í•´ì•¼ í•©ë‹ˆë‹¤. ì£¼ë¡œ ë¬¸ìì—´ì´ë©° ë²”ì£¼í˜• ë°ì´í„°ì— ì†í•˜ëŠ” ì´ëŸ¬í•œ ë°ì´í„°ëŠ” ë²”ì£¼ ê°„ì— ìˆœì„œê°€ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë¯€ë¡œ í¬ê¸° ë¹„êµê°€ ì˜ë¯¸ê°€ ì—†ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ë¨¸ì‹ ëŸ¬ë‹ìœ¼ë¡œ ì˜ˆì¸¡ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•´ì„œëŠ” ì´ëŸ¬í•œ ë°ì´í„°ë¥¼ ìˆ˜ì¹˜í™”í•˜ì—¬ ë˜ í•˜ë‚˜ì˜ ë³€ìˆ˜ë¡œ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ì¢‹ìŠµë‹ˆë‹¤.
- ì›-í•« ì¸ì½”ë”© ë°©ë²•ìœ¼ë¡œëŠ” ë¨¼ì € sklearn.preprocessingì—ì„œ OneHotEncoderë¥¼ ì‚¬ìš©í•˜ì—¬ ë³€í™˜í•´ì£¼ëŠ” ë°©ë²•ì´ ìˆìŠµë‹ˆë‹¤.
- ë‘ë²ˆì§¸ ì›-í•« ì¸ì½”ë”© ë°©ë²•ìœ¼ë¡œëŠ” pandasì˜ get_dummies() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ë³€í™˜í•´ì£¼ëŠ” ë°©ë²•ì´ ìˆìŠµë‹ˆë‹¤.
- ì—¬ê¸°ì„œëŠ” pandasì˜ get_dummies() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ë²”ì£¼í˜• ë³€ìˆ˜ë¥¼ ìˆ˜ì¹˜ë¡œ ë°”ê¿‰ë‹ˆë‹¤.

In [85]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

- ğŸ’¦ ì›-í•« ì¸ì½”ë”© ì´í›„ì˜ ê²°ê³¼ë¥¼ info() í•¨ìˆ˜ë¥¼ í†µí•´ í™•ì¸í•©ë‹ˆë‹¤. ë°ì´í„° ìœ í˜•ì´ 8ë¹„íŠ¸ ì •ìˆ˜(unsigned integer)ë¡œ ë°”ë€ ê²ƒì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [86]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43152 entries, 0 to 43151
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          43152 non-null  float64
 1   depth          43152 non-null  float64
 2   table          43152 non-null  float64
 3   x              43152 non-null  float64
 4   y              43152 non-null  float64
 5   z              43152 non-null  float64
 6   cut_Fair       43152 non-null  uint8
 7   cut_Good       43152 non-null  uint8
 8   cut_Ideal      43152 non-null  uint8
 9   cut_Premium    43152 non-null  uint8
 10  cut_Very Good  43152 non-null  uint8
 11  color_D        43152 non-null  uint8
 12  color_E        43152 non-null  uint8
 13  color_F        43152 non-null  uint8
 14  color_G        43152 non-null  uint8
 15  color_H        43152 non-null  uint8
 16  color_I        43152 non-null  uint8
 17  color_J        43152 non-null  uint8
 18  clarity_I1     43152 non-null  uint8
 19  clarity_IF     43152 non-null  uint8
 20  clarity_SI1    43152 non-null  uint8
 21  clarity_SI2    43152 non-null  uint8
 22  clarity_VS1    43152 non-null  uint8
 23  clarity_VS2    43152 non-null  uint8
 24  clarity_VVS1   43152 non-null  uint8
 25  clarity_VVS2   43152 non-null  uint8
dtypes: float64(6), uint8(20)
memory usage: 2.8 MB

# 6. í•™ìŠµìš© / ê²€ì¦ìš© ë°ì´í„°ì…‹ ë¶„ë¦¬
- íšŒê·€ ê³¼ì œì—ì„œëŠ” stratifyë¥¼ ì‚¬ìš©í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. ì´ëŠ” í´ë˜ìŠ¤ì˜ ë¹„ìœ¨ì´ ì¤‘ìš”í•œ ë¶„ë¥˜ ê³¼ì œì—ì„œ í´ë˜ìŠ¤ì˜ ë¹„ìœ¨ì„ ìœ ì§€í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” ê²ƒìœ¼ë¡œì„œ, ì—°ì†í˜• ê°’ì„ ì˜ˆì¸¡í•˜ëŠ” íšŒê·€ ê³¼ì œì—ëŠ” í•„ìš”í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.

In [87]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train['price'], 
                                                      test_size = 0.3)

# 7. ëª¨ë¸ í•™ìŠµ
- ëœë¤ í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. íšŒê·€ ê³¼ì œì—ì„œëŠ” RandomForestRegressor()ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [88]:
from sklearn.ensemble import RandomForestRegressor

modelRF = RandomForestRegressor()
modelRF.fit(x_train, y_train)

RandomForestRegressor()

# 8. ëª¨ë¸ í‰ê°€
- í‰ê°€ ì§€í‘œë¡œ rmseë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [89]:
y_validation_predict = modelRF.predict(x_valid)

In [90]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_valid, y_validation_predict)
rmse = mean_squared_error(y_valid, y_validation_predict, squared = False)
r2score = r2_score(y_valid, y_validation_predict)

print(mse)
print(rmse)
print(r2score)

319559.52353511384
565.2959610107911
0.9797495860509339

In [91]:
pred = modelRF.predict(x_test)

# 9. íŒŒì¼ ì œì¶œ

In [92]:
result =  pd.DataFrame({'item_id':item_id, 'result':pred}).to_csv('diamond_sub.csv', index=False)
df2 =  pd.read_csv('./diamond_sub.csv')
df2

       item_id    result
0        25388  14156.53
1        15396   5086.54
2        35778    892.83
3         3379    446.84
4        45160   1508.62
...        ...       ...
10783    36438    939.28
10784    50067   2172.64
10785    29605    722.92
10786    19050   8750.66
10787     2543   3418.00

[10788 rows x 2 columns]