# ğŸ’ ë‹¤ì´ì•„ëª¬ë“œ ê°€ê²© ì˜ˆì¸¡ Original_version

- ë¹…ë°ì´í„° ë¶„ì„ê¸°ì‚¬ ì‹¤ê¸° ì—°ìŠµì„ ìœ„í•´ ì œê°€ ë§Œë“  ìë£Œì…ë‹ˆë‹¤.
- seaborn ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ load_datasetì„ í†µí•´ 'diamonds' ë°ì´í„°ì…‹ì„ ê°€ì ¸ì˜¨ í›„, ê·¸ê²ƒì„ x_train, x_test, y_trainìœ¼ë¡œ ì§ì ‘ ë¶„ë¦¬í•˜ì—¬ ë§Œë“  ë°ì´í„°ì…‹ì…ë‹ˆë‹¤. ì‹œí—˜ ì œì¶œ ì–‘ì‹ê³¼ ìœ ì‚¬í•˜ê²Œ ë§Œë“¤ê¸° ìœ„í•´ ê° ë°ì´í„°ì˜ ê³ ìœ í•œ ì¸ë±ìŠ¤ì¸ 'item_id'ì„ ì¶”ê°€í•˜ì˜€ìŠµë‹ˆë‹¤. ì›ë³¸ ë°ì´í„°ì…‹ì€ load_dataset('diamonds')ë¡œ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

### ğŸ’ ë¬¸ì œ
- ì£¼ì–´ì§„ í•™ìŠµìš© ë°ì´í„° x_train.csvë¥¼ í™œìš©í•˜ì—¬ ê°€ê²©(price)ì„ ì˜ˆì¸¡í•˜ëŠ” ëª¨í˜•ì„ ë§Œë“¤ê³ , í‰ê°€ìš© ë°ì´í„° x_test.csvì— ì ìš©í•˜ì—¬ ê°€ê²©ì„ ì˜ˆì¸¡í•˜ì—¬ csv íŒŒì¼ë¡œ ìƒì„±í•˜ì‹œì˜¤.(í‰ê°€ ì§€í‘œëŠ” rmse)

### ğŸ’ íŒíŠ¸
- í‰ê°€ ì§€í‘œë¡œ ë³´ì•„ íšŒê·€ ê³¼ì œì„ì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.
- íšŒê·€ ê³¼ì œì—ì„œëŠ” predictë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.
- ì´ ë°ì´í„°ì…‹ì—ëŠ” ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì™€ ëª…ëª©í˜• ë³€ìˆ˜ê°€ ëª¨ë‘ ì¡´ì¬í•©ë‹ˆë‹¤. ì´ì— ì£¼ì˜í•˜ì—¬ ì¸ì½”ë”©ì„ í•´ì•¼ í•©ë‹ˆë‹¤.

# 1. íŒ¨í‚¤ì§€ ë¶ˆëŸ¬ì˜¤ê¸°

In [1]:
import pandas as pd
import numpy as np

# 2. ë°ì´í„° ì½ì–´ì˜¤ê¸°

In [2]:
x_test = pd.read_csv('./Diamond_x_test.csv')
x_train = pd.read_csv('./Diamond_x_train.csv')
y_train = pd.read_csv('./Diamond_y_train.csv')

In [3]:
x_test.head(1)

   item_id  carat   cut color clarity  depth  table     x     y     z
0    25388   2.02  Fair     H     SI2   56.5   61.0  8.33  8.37  4.72

In [4]:
x_train.head(1)

   item_id  carat        cut color clarity  depth  table     x     y     z
0    48240   0.86  Very Good     J     SI2   63.2   61.0  6.05  5.97  3.79

In [5]:
y_train.head(1)

   item_id  price
0    48240   1950

# 3. info() í•¨ìˆ˜ë¡œ ê¸°ë³¸ ì •ë³´ í™•ì¸í•˜ê¸°

In [6]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10788 entries, 0 to 10787
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  10788 non-null  int64
 1   carat    10788 non-null  float64
 2   cut      10788 non-null  object
 3   color    10788 non-null  object
 4   clarity  10788 non-null  object
 5   depth    10788 non-null  float64
 6   table    10788 non-null  float64
 7   x        10788 non-null  float64
 8   y        10788 non-null  float64
 9   z        10788 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 842.9+ KB

In [7]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43152 entries, 0 to 43151
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  43152 non-null  int64
 1   carat    43152 non-null  float64
 2   cut      43152 non-null  object
 3   color    43152 non-null  object
 4   clarity  43152 non-null  object
 5   depth    43152 non-null  float64
 6   table    43152 non-null  float64
 7   x        43152 non-null  float64
 8   y        43152 non-null  float64
 9   z        43152 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.3+ MB

In [8]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43152 entries, 0 to 43151
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   item_id  43152 non-null  int64
 1   price    43152 non-null  int64
dtypes: int64(2)
memory usage: 674.4 KB

- ì‹œí—˜ì—ì„œì˜ íŒŒì¼ ì œì¶œ ì–‘ì‹ì„ ë”°ë¥´ê¸° ìœ„í•´ x_testì— ì¶”ê°€í–ˆë˜ 'item_id'ì„ ë”°ë¡œ ë¶„ë¦¬í•˜ì—¬ ì‹œë¦¬ì¦ˆë¡œ ì €ì¥í•´ë‘¡ë‹ˆë‹¤.

In [9]:
item_id = x_test['item_id']

x_train = x_train.drop(columns='item_id')
x_test = x_test.drop(columns='item_id')
y_train = y_train.drop(columns='item_id')

# 4. ê²°ì¸¡ì¹˜ ì²˜ë¦¬
- ì´ ë°ì´í„°ì…‹ì—ëŠ” ê²°ì¸¡ì¹˜ëŠ” ì—†ìœ¼ë¯€ë¡œ ì´ ë‹¨ê³„ëŠ” í†µê³¼í•©ë‹ˆë‹¤.

# 5. describe() í•¨ìˆ˜ë¡œ ìš”ì•½ í†µê³„ëŸ‰ í™•ì¸
- ë‹¤ë¥¸ ì½”ë“œ íŒŒì¼ì˜ ë°ì´í„°ì…‹ê³¼ëŠ” ë‹¬ë¦¬, ì•ì„œ info()ë¥¼ í†µí•´ ì´ ë°ì´í„°ì…‹ì—ëŠ” objectë¼ëŠ” ë°ì´í„° ìœ í˜•ì´ ìˆë‹¤ëŠ” ê²ƒì„ ë³´ì•˜ìŠµë‹ˆë‹¤.
- describe()ëŠ” ìˆ˜ì¹˜í˜• ë³€ìˆ˜ì— ëŒ€í•˜ì—¬ ìš”ì•½ í†µê³„ëŸ‰ì„ ì œì‹œí•´ì£¼ì§€ë§Œ, object ìœ í˜•ì˜ ì»¬ëŸ¼ì€ ì œì‹œí•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.
- ğŸ’¦ object ìœ í˜•ì˜ ì»¬ëŸ¼ì€ describe(include = 'object')ë¡œ ë³€ìˆ˜ë¥¼ ì§€ì •í•´ì£¼ì–´ì•¼ ìš”ì•½ í†µê³„ëŸ‰ì„ ì•Œ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [10]:
x_train.describe()

,carat,depth,table,x,y,z
count,43152.000000,43152.000000,43152.000000,43152.000000,43152.000000,43152.000000
mean,0.798534,61.754795,57.452181,5.731961,5.735654,3.539142
std,0.474879,1.429708,2.223297,1.122093,1.149875,0.695689
min,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000
25%,0.400000,61.100000,56.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,10.740000,58.900000,8.060000

- ğŸ’¦ ì¼ë‹¨ y ì»¬ëŸ¼ì˜ maxê°’ì´ í‰ê· ì— ë¹„í•´ ë‹¤ì†Œ í° ê²ƒìœ¼ë¡œ ë³´ì•„ ì´ìƒì¹˜ë¡œ íŒë‹¨ë©ë‹ˆë‹¤. nlargest() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ì´ëŸ¬í•œ ì´ìƒì¹˜ê°€ ì–¼ë§ˆë‚˜ ìˆëŠ”ì§€ í™•ì¸í•©ë‹ˆë‹¤.

In [11]:
x_train['y'].nlargest(5)

34746    58.90
6121     31.80
15082    10.54
6533     10.16
42041    10.10
Name: y, dtype: float64

- nlargest(5)ì˜ ê²°ê³¼, ê°€ì¥ í° ê°’ì¸ 31.80ë§Œ ì´ìƒì¹˜ë¡œ ê°„ì£¼í•˜ê³  í‰ê· ê°’ìœ¼ë¡œ ë°”ê¿‰ë‹ˆë‹¤.

In [12]:
x_train['y'] = np.where(x_train['y']>31, x_train['y'].mean(), x_train['y'])
x_train.describe()

,carat,depth,table,x,y,z
count,43152.000000,43152.000000,43152.000000,43152.000000,43152.000000,43152.000000
mean,0.798534,61.754795,57.452181,5.731961,5.733818,3.539142
std,0.474879,1.429708,2.223297,1.122093,1.113986,0.695689
min,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000
25%,0.400000,61.100000,56.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,10.740000,10.540000,8.060000

- ğŸ’¦ object ìœ í˜•ì˜ ì»¬ëŸ¼ì€ ë”°ë¡œ í™•ì¸í•©ë‹ˆë‹¤.

In [13]:
x_train.describe(include = 'object')

          cut  color clarity
count   43152  43152   43152
unique      5      7       8
top     Ideal      G     SI1
freq    17275   9067   10389

In [14]:
x_test.describe()

,carat,depth,table,x,y,z
count,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000
mean,0.795564,61.727846,57.477197,5.727941,5.730014,3.537101
std,0.470540,1.444081,2.278709,1.120475,1.110676,0.744426
min,0.200000,50.800000,44.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,4.720000,4.730000,2.910000
50%,0.700000,61.800000,57.000000,5.690000,5.700000,3.520000
75%,1.040000,62.500000,59.000000,6.540000,6.540000,4.032500
max,4.010000,78.200000,79.000000,10.020000,9.940000,31.800000

In [15]:
x_test.describe(include = 'object')

          cut  color clarity
count   10788  10788   10788
unique      5      7       8
top     Ideal      G     SI1
freq     4276   2225    2676

# ì£¼ì˜!

- ğŸ’¦ ë°ì´í„° ìœ í˜•ì´ objectì¸ ë°ì´í„°ì˜ ê²½ìš°ì—ëŠ” ì›-í•« ì¸ì½”ë”©ì„ í•´ì•¼ í•©ë‹ˆë‹¤. ì£¼ë¡œ ë¬¸ìì—´ì´ë©° ë²”ì£¼í˜• ë°ì´í„°ì— ì†í•˜ëŠ” ì´ëŸ¬í•œ ë°ì´í„°ëŠ” ë²”ì£¼ ê°„ì— ìˆœì„œê°€ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë¯€ë¡œ í¬ê¸° ë¹„êµê°€ ì˜ë¯¸ê°€ ì—†ì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ë¨¸ì‹ ëŸ¬ë‹ìœ¼ë¡œ ì˜ˆì¸¡ ëª¨ë¸ì„ ë§Œë“¤ê¸° ìœ„í•´ì„œëŠ” ì´ëŸ¬í•œ ë°ì´í„°ë¥¼ ìˆ˜ì¹˜í™”í•˜ì—¬ ë˜ í•˜ë‚˜ì˜ ë³€ìˆ˜ë¡œ ì‚¬ìš©í•˜ëŠ” ê²ƒì´ ì¢‹ìŠµë‹ˆë‹¤.
- ì›-í•« ì¸ì½”ë”© ë°©ë²•ìœ¼ë¡œëŠ” ë¨¼ì € sklearn.preprocessingì—ì„œ OneHotEncoderë¥¼ ì‚¬ìš©í•˜ì—¬ ë³€í™˜í•´ì£¼ëŠ” ë°©ë²•ì´ ìˆìŠµë‹ˆë‹¤.
- ë‘ë²ˆì§¸ ì›-í•« ì¸ì½”ë”© ë°©ë²•ìœ¼ë¡œëŠ” pandasì˜ get_dummies() í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ë³€í™˜í•´ì£¼ëŠ” ë°©ë²•ì´ ìˆìŠµë‹ˆë‹¤.
- ì„¸ë²ˆì§¸ ë°©ë²•ìœ¼ë¡œëŠ” ë¼ë²¨ ì¸ì½”ë”©ì´ ìˆìŠµë‹ˆë‹¤. ì´ëŠ” sklearn.preprocessingì—ì„œ LabelEncoderë¥¼ ì„í¬íŠ¸í•˜ì—¬ ì‚¬ìš©í•˜ë©´ ë©ë‹ˆë‹¤.
- ì—¬ê¸°ì„œëŠ” ì„¸ë²ˆì§¸ ë°©ë²•ì„ ì‚¬ìš©í•  ê²ƒì…ë‹ˆë‹¤. ì´ì— ì•ì„œ get_dummies() í•¨ìˆ˜ì˜ í•œê³„ì ì„ ì•Œì•„ë´…ë‹ˆë‹¤.

In [16]:
x_train_dummies = pd.get_dummies(x_train)
x_test_dummies = pd.get_dummies(x_test)

- ğŸ’¦ ì›-í•« ì¸ì½”ë”© ì´í›„ì˜ ê²°ê³¼ë¥¼ info() í•¨ìˆ˜ë¥¼ í†µí•´ í™•ì¸í•©ë‹ˆë‹¤. ë°ì´í„° ìœ í˜•ì´ 8ë¹„íŠ¸ ì •ìˆ˜(unsigned integer)ë¡œ ë°”ë€ ê²ƒì„ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

In [17]:
x_train_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43152 entries, 0 to 43151
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          43152 non-null  float64
 1   depth          43152 non-null  float64
 2   table          43152 non-null  float64
 3   x              43152 non-null  float64
 4   y              43152 non-null  float64
 5   z              43152 non-null  float64
 6   cut_Fair       43152 non-null  uint8
 7   cut_Good       43152 non-null  uint8
 8   cut_Ideal      43152 non-null  uint8
 9   cut_Premium    43152 non-null  uint8
 10  cut_Very Good  43152 non-null  uint8
 11  color_D        43152 non-null  uint8
 12  color_E        43152 non-null  uint8
 13  color_F        43152 non-null  uint8
 14  color_G        43152 non-null  uint8
 15  color_H        43152 non-null  uint8
 16  color_I        43152 non-null  uint8
 17  color_J        43152 non-null  uint8
 18  clarity_I1     43152 non-null  uint8
 19  clarity_IF     43152 non-null  uint8
 20  clarity_SI1    43152 non-null  uint8
 21  clarity_SI2    43152 non-null  uint8
 22  clarity_VS1    43152 non-null  uint8
 23  clarity_VS2    43152 non-null  uint8
 24  clarity_VVS1   43152 non-null  uint8
 25  clarity_VVS2   43152 non-null  uint8
dtypes: float64(6), uint8(20)
memory usage: 2.8 MB

In [18]:
x_test_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10788 entries, 0 to 10787
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          10788 non-null  float64
 1   depth          10788 non-null  float64
 2   table          10788 non-null  float64
 3   x              10788 non-null  float64
 4   y              10788 non-null  float64
 5   z              10788 non-null  float64
 6   cut_Fair       10788 non-null  uint8
 7   cut_Good       10788 non-null  uint8
 8   cut_Ideal      10788 non-null  uint8
 9   cut_Premium    10788 non-null  uint8
 10  cut_Very Good  10788 non-null  uint8
 11  color_D        10788 non-null  uint8
 12  color_E        10788 non-null  uint8
 13  color_F        10788 non-null  uint8
 14  color_G        10788 non-null  uint8
 15  color_H        10788 non-null  uint8
 16  color_I        10788 non-null  uint8
 17  color_J        10788 non-null  uint8
 18  clarity_I1     10788 non-null  uint8
 19  clarity_IF     10788 non-null  uint8
 20  clarity_SI1    10788 non-null  uint8
 21  clarity_SI2    10788 non-null  uint8
 22  clarity_VS1    10788 non-null  uint8
 23  clarity_VS2    10788 non-null  uint8
 24  clarity_VVS1   10788 non-null  uint8
 25  clarity_VVS2   10788 non-null  uint8
dtypes: float64(6), uint8(20)
memory usage: 716.5 KB

- ì»¬ëŸ¼ì˜ ê°œìˆ˜ê°€ ë§¤ìš° ëŠ˜ì–´ë‚¬ìŠµë‹ˆë‹¤. ëª…ëª©í˜• ë³€ìˆ˜ë“¤ì´ ê°ê°ì˜ ì»¬ëŸ¼ì„ í˜•ì„±í–ˆê¸° ë•Œë¬¸ì…ë‹ˆë‹¤.
- ğŸ’¦ ê·¸ëŸ¬ë‚˜ ì´ëŸ¬í•œ ë³€í™˜ì€ x_trainê³¼ x_testì˜ ë³€í™˜ëœ ì»¬ëŸ¼ì´ ê°™ì„ ë•Œì—ë§Œ ëª¨ë¸ë§ì´ ì˜ ì´ë£¨ì–´ì§ˆ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì—¬ê¸°ì—ì„œëŠ” ìš´ì¢‹ê²Œë„ í˜•íƒœ(ì»¬ëŸ¼ì˜ ìˆ˜)ê°€ ê°™ì•˜ìŠµë‹ˆë‹¤.
- x_trainê³¼ x_testì˜ ì»¬ëŸ¼ì˜ ìˆ˜ê°€ ë‹¤ë¥´ë‹¤ë©´ ë°ì´í„°ì˜ í˜•íƒœê°€ ë‹¤ë¥´ê¸° ë•Œë¬¸ì— ëª¨ë¸ë§ ê³¼ì •ì—ì„œ ì˜¤ë¥˜ê°€ ë‚©ë‹ˆë‹¤.
- ë”°ë¼ì„œ ì €ëŠ” pd.get_dummies()ë¥¼ ì‚¬ìš©í•˜ì§€ ì•Šê³  LabelEncoderë¥¼ ì‚¬ìš©í•˜ì—¬ ë‹¤ì‹œ ì¸ì½”ë”©ì„ ì§„í–‰í•˜ê² ìŠµë‹ˆë‹¤.

In [19]:
from sklearn.preprocessing import LabelEncoder
 
le = LabelEncoder()
le.fit(x_train['cut'])
x_train['cut'] = le.transform(x_train['cut'])
x_test['cut'] = le.transform(x_test['cut'])
le.fit(x_train['color'])
x_train['color'] = le.transform(x_train['color'])
x_test['color'] = le.transform(x_test['color'])
le.fit(x_train['clarity'])
x_train['clarity'] = le.transform(x_train['clarity'])
x_test['clarity'] = le.transform(x_test['clarity'])

- fit_transformì˜ ê²°ê³¼, ì–´ë–»ê²Œ ë°ì´í„° ìœ í˜•ì´ ë°”ë€Œì—ˆëŠ”ì§€ ë‹¤ì‹œ í™•ì¸í•©ë‹ˆë‹¤.

In [20]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43152 entries, 0 to 43151
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    43152 non-null  float64
 1   cut      43152 non-null  int32
 2   color    43152 non-null  int32
 3   clarity  43152 non-null  int32
 4   depth    43152 non-null  float64
 5   table    43152 non-null  float64
 6   x        43152 non-null  float64
 7   y        43152 non-null  float64
 8   z        43152 non-null  float64
dtypes: float64(6), int32(3)
memory usage: 2.5 MB

In [21]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10788 entries, 0 to 10787
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    10788 non-null  float64
 1   cut      10788 non-null  int32
 2   color    10788 non-null  int32
 3   clarity  10788 non-null  int32
 4   depth    10788 non-null  float64
 5   table    10788 non-null  float64
 6   x        10788 non-null  float64
 7   y        10788 non-null  float64
 8   z        10788 non-null  float64
dtypes: float64(6), int32(3)
memory usage: 632.2 KB

- ğŸ’ objectì— í•´ë‹¹í•˜ëŠ” ì»¬ëŸ¼ë“¤ì˜ ë°ì´í„°ìœ í˜•ì´ int32ë¡œ ë°”ë€Œì—ˆìŠµë‹ˆë‹¤.

# 6. í•™ìŠµìš© / ê²€ì¦ìš© ë°ì´í„°ì…‹ ë¶„ë¦¬
- íšŒê·€ ê³¼ì œì—ì„œëŠ” stratifyë¥¼ ì‚¬ìš©í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤. ì´ëŠ” í´ë˜ìŠ¤ì˜ ë¹„ìœ¨ì´ ì¤‘ìš”í•œ ë¶„ë¥˜ ê³¼ì œì—ì„œ í´ë˜ìŠ¤ì˜ ë¹„ìœ¨ì„ ìœ ì§€í•˜ê¸° ìœ„í•´ ì‚¬ìš©í•˜ëŠ” ê²ƒìœ¼ë¡œì„œ, ì—°ì†í˜• ê°’ì„ ì˜ˆì¸¡í•˜ëŠ” íšŒê·€ ê³¼ì œì—ëŠ” í•„ìš”í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.

In [22]:
from sklearn.model_selection import train_test_split
x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train['price'], 
                                                      test_size = 0.3)

# 7. ëª¨ë¸ í•™ìŠµ
- ëœë¤ í¬ë ˆìŠ¤íŠ¸ ëª¨ë¸ì„ ì‚¬ìš©í•©ë‹ˆë‹¤. íšŒê·€ ê³¼ì œì—ì„œëŠ” RandomForestRegressor()ë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [23]:
from sklearn.ensemble import RandomForestRegressor

modelRF = RandomForestRegressor()
modelRF.fit(x_train, y_train)

RandomForestRegressor()

# 8. ëª¨ë¸ í‰ê°€
- í‰ê°€ ì§€í‘œë¡œ rmseë¥¼ ì‚¬ìš©í•©ë‹ˆë‹¤.

In [24]:
y_validation_predict = modelRF.predict(x_valid)

In [25]:
from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_valid, y_validation_predict)
rmse = mean_squared_error(y_valid, y_validation_predict, squared = False)
r2score = r2_score(y_valid, y_validation_predict)

print(mse)
print(rmse)
print(r2score)

322780.90716057835
568.1381057107316
0.9798012844727388

In [26]:
pred = modelRF.predict(x_test)

# 9. íŒŒì¼ ì œì¶œ

In [27]:
result =  pd.DataFrame({'item_id':item_id, 'result':pred}).to_csv('diamond_sub.csv', index=False)
df2 =  pd.read_csv('./diamond_sub.csv')
df2

       item_id    result
0        25388  12763.54
1        15396   5129.65
2        35778    917.35
3         3379    417.37
4        45160   1493.43
...        ...       ...
10783    36438    859.58
10784    50067   2117.65
10785    29605    715.21
10786    19050   8506.71
10787     2543   3546.04

[10788 rows x 2 columns]