# 🧩 Mobile Price 예측 모델링 (회귀 과제 편)
- 빅데이터 분석기사 실기 연습을 위해 제가 만든 자료입니다.
- 데이터셋은 kaggle의 데이터셋을 제가 다시 가공한 뒤 X_train, y_train, X_test로 분리하였습니다. 원본 데이터셋은 다음의 주소에서 확인하실 수 있습니다 : (https://www.kaggle.com/datasets/iabhishekofficial/mobile-price-classification/data?select=train.csv)

### 🧩 문제
- 주어진 학습용 데이터를 활용하여 모바일폰의 ram의 용량을 예측하는 모형을 만들고, 이를 평가용 데이터인 X_test.csv에 적용하여 ram의 예측값을 csv 파일로 생성하시오.(평가 지표는 RMSE)

### 🧩 힌트
- 분류 과제인지 회귀 과제인지 판단합니다.
- 평가지표가 RMSE인 것으로 보아 회귀 과제에 해당합니다.
- 회귀 과제라면 proba가 아닌 pred가 사용됩니다. 회귀과제는 클래스에 속할 확률을 예측하는 것이 아니기 때문에 proba가 사용되지 않습니다.

### 🧩 주의
- 이 모델은 rmse 수치가 매우 높습니다. 자체 가공한 데이터셋으로 타겟을 ram으로 설정한 것이 적절하지 않았을 수 있습니다. 회귀 과제를 연습하는 방향으로만 사용하는 것이 좋겠습니다.

# 1. 필요한 패키지 불러오기

In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

# 2. 데이터 파일 읽기
- 시험에는 총 3개의 파일이 주어집니다.
- X_train : 학습에 사용되는 변수들이 포함된 데이터입니다.
- X_test : 평가에 사용되는 데이터입니다.
- y_train : 타겟 데이터입니다. 여기서는 ram의 용량을 나타냅니다.

In [2]:
X_train = pd.read_csv('./Reg_Mobile_X_train.csv')
X_test = pd.read_csv('./Reg_Mobile_X_test.csv')
y_train = pd.read_csv('./Reg_Mobile_y_train.csv')

In [3]:
X_train.head(2)

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,sc_h,sc_w,wifi
0,842.0,2.2,1,7,0.6,188.0,2,2,20,756,9,7,yes
1,1021.0,0.5,0,53,0.7,136.0,3,6,905,1988,17,3,no

In [4]:
y_train.head(2)

    ram
0  2549
1  2631

# 3. info() 함수로 기본 정보 확인하기
- 행과 열의 개수 및 결측치가 있는지 알아봅니다.
- 각 열의 데이터 타입을 확인하여 이후 수치형 변수와 명목형 변수로 나눌 때 참고합니다.
- X_train에는 3개의 열에 결측치가 존재합니다.
- X_train은 명목형 변수(object) 컬럼이 하나 존재합니다.

In [5]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1998 non-null   float64
 1   clock_speed    2000 non-null   float64
 2   fc             2000 non-null   int64
 3   int_memory     2000 non-null   int64
 4   m_dep          2000 non-null   float64
 5   mobile_wt      1998 non-null   float64
 6   n_cores        2000 non-null   int64
 7   pc             2000 non-null   int64
 8   px_height      2000 non-null   int64
 9   px_width       2000 non-null   int64
 10  sc_h           2000 non-null   int64
 11  sc_w           2000 non-null   int64
 12  wifi           1997 non-null   object
dtypes: float64(4), int64(8), object(1)
memory usage: 203.2+ KB

In [6]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1000 non-null   int64
 1   clock_speed    1000 non-null   float64
 2   fc             1000 non-null   int64
 3   int_memory     1000 non-null   int64
 4   m_dep          1000 non-null   float64
 5   mobile_wt      1000 non-null   int64
 6   n_cores        1000 non-null   int64
 7   pc             1000 non-null   int64
 8   px_height      1000 non-null   int64
 9   px_width       1000 non-null   int64
 10  sc_h           1000 non-null   int64
 11  sc_w           1000 non-null   int64
 12  wifi           1000 non-null   object
dtypes: float64(2), int64(10), object(1)
memory usage: 101.7+ KB

In [7]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1998 entries, 0 to 1997
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ram     1998 non-null   int64
dtypes: int64(1)
memory usage: 15.7 KB

# 4. 결측치 처리하기
- X_train과 y_train에 결측치가 모두 존재하기 때문에 이를 고려하여 결측치를 처리하는 방법을 선정합니다.
- 두 데이터셋의 결측치 행을 확인합니다.

In [8]:
train = pd.concat([X_train, y_train], axis = 1)
train.head(1)

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,sc_h,sc_w,wifi,ram
0,842.0,2.2,1,7,0.6,188.0,2,2,20,756,9,7,yes,2549.0

In [9]:
missing_data_rows = train[train.isnull().any(axis=1)]
missing_data_rows

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,sc_h,sc_w,wifi,ram
19,682.0,0.5,4,19,1.0,121.0,4,11,902,1064,11,1,NaN,2337.0
20,NaN,1.1,12,39,0.8,NaN,7,14,1314,1854,17,15,NaN,1433.0
21,NaN,2.1,1,13,1.0,NaN,2,2,974,1385,17,1,NaN,1037.0
1998,1512.0,0.9,4,46,0.1,145.0,5,5,336,670,18,10,yes,NaN
1999,510.0,2.0,5,45,0.9,168.0,6,16,483,754,19,4,yes,NaN

- 결측치가 컬럼마다 여러 행에 분포되어 있는 상황이므로 dropna() 함수를 사용하여 결측치가 포함된 행들을 제거합니다.
- 결측치를 제거한 뒤에 다시 X_train과 y_train으로 나누어 모델링을 진행합니다.

In [10]:
train = train.dropna()
train.reset_index(drop = True, inplace = True)

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  1995 non-null   float64
 1   clock_speed    1995 non-null   float64
 2   fc             1995 non-null   int64
 3   int_memory     1995 non-null   int64
 4   m_dep          1995 non-null   float64
 5   mobile_wt      1995 non-null   float64
 6   n_cores        1995 non-null   int64
 7   pc             1995 non-null   int64
 8   px_height      1995 non-null   int64
 9   px_width       1995 non-null   int64
 10  sc_h           1995 non-null   int64
 11  sc_w           1995 non-null   int64
 12  wifi           1995 non-null   object
 13  ram            1995 non-null   float64
dtypes: float64(5), int64(8), object(1)
memory usage: 218.3+ KB

In [12]:
X_train = train[['battery_power', 'clock_speed', 'fc', 'int_memory', 'm_dep',
                'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'sc_h', 'sc_w', 'wifi']]
y_train = train[['ram']]

In [13]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1995 entries, 0 to 1994
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ram     1995 non-null   float64
dtypes: float64(1)
memory usage: 15.7 KB

# 5. describe() 함수로 요약 통계량 확인하기

In [14]:
X_train.describe()

,battery_power,clock_speed,fc,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,sc_h,sc_w
count,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000,1995.00000,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000,1995.000000
mean,1239.023559,1.522757,4.307268,32.045614,0.501103,140.26416,4.519799,9.917293,644.715288,1251.781454,12.296241,5.765915
std,439.195995,0.816359,4.342799,18.155420,0.287989,35.40917,2.289040,6.066059,443.916960,432.160104,4.211195,4.353124
min,501.000000,0.500000,0.000000,2.000000,0.100000,80.00000,1.000000,0.000000,0.000000,500.000000,5.000000,0.000000
25%,852.000000,0.700000,1.000000,16.000000,0.200000,109.00000,3.000000,5.000000,282.000000,875.500000,9.000000,2.000000
50%,1227.000000,1.500000,3.000000,32.000000,0.500000,141.00000,4.000000,10.000000,564.000000,1247.000000,12.000000,5.000000
75%,1615.500000,2.200000,7.000000,48.000000,0.800000,170.00000,7.000000,15.000000,946.500000,1633.000000,16.000000,9.000000
max,1998.000000,3.000000,19.000000,64.000000,1.000000,200.00000,8.000000,20.000000,1960.000000,1998.000000,19.000000,18.000000

- X_train에서 특별한 이상치는 발견되지 않는 것으로 판단됩니다.

# 6. 수치형 / 명목형 변수 정리, 명목형 변수는 레이블 인코딩

- 회귀모델은 입력 데이터가 수치형일 때 잘 작동됩니다. 모델이 명목형 변수를 처리할 수 있도록 숫자 값으로 변환해야 이를 또 하나의 변수로 사용하여 모델을 학습시킬 수 있습니다.
- 명목형 변수를 처리하는 방법으로 원-핫 인코딩이 많이 사용됩니다.

In [15]:
col_number = ['battery_power', 'clock_speed', 'fc', 'int_memory', 'm_dep',
                'mobile_wt', 'n_cores', 'pc', 'px_height', 'px_width', 'sc_h', 'sc_w']
col_category = ['wifi']
col_y = ['ram']

- 훈련 데이터와 테스트 데이터 모두 동일한 원-핫 인코딩 방식을 적용하기 위해 X_train와 X_test를 concat해서 피팅시키고, 훈련 데이터와 테스트 데이터에 각각 인코딩을 진행합니다.
- 원-핫 인코딩은 범주 간에 순서가 없습니다. 명목형 변수에서 각 범주의 데이터를 0, 1, 2 등으로 정수로 바꾸는 레이블 인코딩은 간단할 수도 있지만 정수 0, 1, 2 사이에는 순서가 존재하는 것(더 큰 값)으로 가정될 수 있습니다. 따라서 범주 간에 순서가 존재하지 않는다면 원-핫 인코딩이 더 적절합니다.

In [16]:
X = pd.concat([X_train, X_test])

In [17]:
from sklearn.preprocessing import OneHotEncoder
onehot = OneHotEncoder()
onehot.fit(X[col_category])

X_train_res = onehot.transform(X_train[col_category])
X_test_res = onehot.transform(X_test[col_category])

- .todense() 메서드는 이 희소 행렬을 일반적인 밀집 행렬(dense matrix)로 변환합니다. 이는 Pandas 데이터프레임으로 쉽게 변환할 수 있는 형태입니다.
- onehot.get_feature_names()는 원-핫 인코딩된 특성의 이름을 가져옵니다.

In [18]:
X_train_onehot = pd.DataFrame(X_train_res.todense(), columns = onehot.get_feature_names())
X_test_onehot = pd.DataFrame(X_test_res.todense(), columns = onehot.get_feature_names())
print(X_train_onehot)

      x0_no  x0_yes
0       0.0     1.0
1       1.0     0.0
2       1.0     0.0
3       1.0     0.0
4       1.0     0.0
...     ...     ...
1990    0.0     1.0
1991    1.0     0.0
1992    1.0     0.0
1993    0.0     1.0
1994    1.0     0.0

[1995 rows x 2 columns]

In [19]:
X_train_last = pd.concat([X_train[col_number], X_train_onehot], axis=1)
X_test_last = pd.concat([X_test[col_number], X_test_onehot], axis=1)

# 7. 학습용 데이터와 검증용 데이터 분할
- 학습 데이터로 만든 모델의 일반화 성능을 검증하기 위해 다시 분할하여 검증합니다.
- 과적합이 발생하는 경우에 모델을 바꾸거나 하이퍼파라미터를 조정하는 등의 방식으로 모델링 방식을 바꿉니다. 
- 여기서 학습 데이터와 검증 데이터를 나누는 비율은 0.3으로 설정하였습니다.

In [20]:
from sklearn.model_selection import train_test_split

X_tr, X_valid, y_tr, y_valid = train_test_split(X_train_last, y_train, test_size = 0.3)

# 8. 스케일링 수행

In [21]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_tr[col_number])

X_tr[col_number] = scaler.transform(X_tr[col_number])
X_valid[col_number] = scaler.transform(X_valid[col_number])
X_test_last[col_number] = scaler.transform(X_test_last[col_number])

# 9. 모델 학습
- 랜덤 포레스트 모델을 사용합니다. 분류 과제에서는 RandomForestClassifier를 사용한 반면에 회귀 과제에서는 RandomForestRegressor을 사용합니다.

In [22]:
from sklearn.ensemble import RandomForestRegressor

modelRF = RandomForestRegressor(n_estimators=100, random_state=42)
modelRF.fit(X_tr, y_tr)

RandomForestRegressor(random_state=42)

# 10. 모델 평가
- 이 모델은 rmse 수치가 매우 높습니다. 자체 가공한 데이터셋으로 타겟을 ram으로 설정한 것이 적절하지 않았을 수 있습니다. 회귀 과제를 연습하는 방향으로만 사용하는 것이 좋겠습니다.

In [23]:
y_validation_predict = modelRF.predict(X_valid)

In [24]:
from sklearn.metrics import mean_squared_error

rmse = mean_squared_error(y_valid, y_validation_predict, squared=False)
print(rmse)

1134.9055638573886

- 스케일링을 진행한 최종 평가용 데이터에 모델을 적용하여 예측값을 출력합니다.

In [25]:
pred = modelRF.predict(X_test_last)
pred

array([1710.98, 2544.75, 2144.03, 2147.14, 2285.75, 2301.04, 2398.92,
       1955.27, 2294.22, 2131.37, 2444.47, 1849.07, 2122.98, 2370.34,
       2189.33, 2088.25, 2020.71, 2650.14, 2179.31, 2470.5 , 1903.01,
       2353.16, 2181.3 , 2269.03, 2154.5 , 2091.48, 2109.66, 2182.47,
       2175.16, 2283.74, 2159.75, 2035.09, 1990.36, 2218.89, 2098.64,
       2084.38, 1925.19, 2124.17, 2684.46, 2096.07, 1675.03, 2783.45,
       2470.34, 2203.28, 1918.6 , 2356.43, 2313.53, 2211.24, 2026.62,
       2234.49, 2093.09, 2437.51, 2136.82, 2489.3 , 2036.94, 2385.34,
       1495.05, 1957.6 , 2077.44, 2004.64, 2207.87, 2444.55, 2311.46,
       2614.55, 2434.17, 2229.4 , 1841.29, 2267.12, 2037.53, 2180.22,
       2716.85, 2211.91, 2252.42, 2140.45, 1641.86, 1792.69, 2221.65,
       2048.67, 2271.63, 1958.93, 2398.68, 1926.71, 1754.99, 2125.92,
       2137.44, 1871.53, 1932.66, 2420.98, 2381.07, 2350.26, 2003.47,
       2097.57, 2169.03, 2178.36, 2031.01, 2081.91, 1834.59, 1730.34,
       2057.14, 2129.29, 2380.71, 1745.74, 2392.14, 1865.73, 2304.59,
       2517.95, 1914.82, 2240.77, 2000.64, 2181.35, 2011.46, 2226.41,
       2202.09, 2092.54, 1761.17, 2559.67, 2044.83, 1905.66, 1870.5 ,
       2027.36, 1943.32, 2316.99, 2386.61, 1974.5 , 2090.51, 1878.67,
       2139.1 , 1855.42, 2285.04, 1492.94, 2487.66, 1982.24, 2192.2 ,
       2493.64, 1651.34, 2736.1 , 2167.17, 2185.95, 2075.13, 2581.65,
       2262.94, 2506.83, 2301.05, 1940.79, 2242.44, 1951.16, 2064.97,
       2543.52, 2145.25, 2067.53, 2396.53, 1902.58, 2213.66, 2380.91,
       2113.73, 2102.9 , 1511.37, 2193.52, 2561.73, 2402.24, 2295.35,
       2005.04, 2101.66, 1977.46, 1982.85, 2199.71, 2028.42, 2271.83,
       1903.79, 1955.64, 2456.63, 2140.9 , 2197.94, 2092.57, 1977.29,
       2222.58, 2158.53, 1784.73, 1881.67, 2499.13, 2089.98, 2619.29,
       2064.57, 1703.37, 2207.68, 2030.61, 2050.94, 2180.48, 2113.09,
       2251.83, 1901.81, 1960.76, 2124.87, 1983.63, 2190.7 , 2187.43,
       1897.27, 2445.1 , 2084.05, 1774.19, 2010.54, 2064.32, 2095.73,
       2332.48, 2237.16, 2032.6 , 2351.14, 2089.29, 2281.26, 1954.45,
       2180.86, 1995.99, 2150.89, 2218.57, 2757.42, 2017.04, 2153.56,
       2213.1 , 2233.73, 2406.05, 2281.93, 2209.73, 1939.42, 2376.79,
       2298.36, 2144.41, 2109.02, 2650.28, 1991.06, 2250.94, 1917.  ,
       2143.26, 2243.3 , 2193.14, 1845.94, 2193.83, 1799.83, 2112.32,
       2176.57, 1786.6 , 2046.32, 2510.35, 2334.85, 2317.65, 1981.5 ,
       1860.67, 2128.56, 2367.4 , 2372.95, 2554.99, 1904.36, 2073.79,
       2200.96, 2431.55, 2034.19, 2179.4 , 1953.86, 2106.86, 2046.88,
       2305.48, 2097.01, 1908.38, 2082.06, 2145.01, 1988.41, 1748.57,
       2029.27, 2318.3 , 1850.71, 2148.37, 2212.28, 1768.48, 2124.99,
       2620.81, 2117.39, 1902.88, 2307.86, 1971.46, 1883.96, 2391.06,
       2066.36, 1768.75, 2610.2 , 2033.42, 1840.18, 1980.53, 1915.47,
       1813.02, 2301.2 , 2136.65, 1992.42, 2323.68, 2097.09, 2379.07,
       1696.86, 1954.97, 2212.66, 2075.56, 1768.21, 2192.81, 2014.86,
       2087.61, 1964.56, 2094.57, 2100.54, 1923.66, 2000.75, 2249.33,
       2290.05, 2021.43, 2009.5 , 2129.11, 2040.13, 2262.92, 1906.12,
       2600.12, 1896.94, 2121.95, 2246.52, 2200.16, 2246.54, 1817.38,
       2161.75, 1874.54, 1831.21, 2122.8 , 2053.37, 1999.89, 2194.7 ,
       2056.13, 2256.14, 2292.93, 2273.24, 2815.12, 2023.22, 2122.62,
       2107.23, 2108.41, 2440.96, 2302.6 , 2138.33, 2160.04, 2421.38,
       2369.54, 1808.99, 2155.19, 2141.25, 2474.08, 1895.83, 2204.69,
       1883.96, 2239.35, 2030.7 , 2244.8 , 2396.73, 1927.48, 2300.38,
       2105.06, 1932.56, 1971.9 , 1868.72, 1987.16, 1842.44, 2004.34,
       2245.66, 1993.26, 2157.96, 2010.39, 2414.94, 2175.75, 2169.02,
       2532.9 , 1876.47, 2313.22, 1983.33, 2201.5 , 1866.83, 2278.08,
       1999.37, 2073.55, 2001.49, 1711.27, 1706.44, 2221.58, 2108.26,
       2434.69, 2281.97, 2470.52, 2038.5 , 2127.07, 2050.58, 2161.67,
       2186.32, 2502.84, 2251.39, 2327.79, 2082.7 , 2066.94, 2115.09,
       2027.93, 2372.85, 2188.46, 2097.  , 2401.19, 2285.01, 1921.35,
       2151.76, 2119.04, 2540.03, 2066.06, 2162.52, 2389.17, 1779.55,
       1787.69, 2185.28, 2358.28, 1820.15, 2516.75, 2259.42, 2119.47,
       2447.19, 2283.19, 2044.84, 2094.09, 1878.79, 1993.33, 2127.35,
       2526.02, 1896.36, 1865.72, 2018.25, 1915.35, 2195.4 , 2201.03,
       2479.  , 2399.34, 2140.05, 2382.23, 2059.59, 2305.91, 2435.6 ,
       2028.27, 1887.98, 2199.7 , 1741.05, 1766.5 , 2259.47, 1934.03,
       2209.9 , 2134.23, 2256.08, 2338.58, 2304.76, 2020.54, 2132.93,
       2610.28, 1931.47, 2200.01, 1884.12, 1741.36, 2289.77, 1659.03,
       2062.12, 2355.82, 2525.66, 2375.58, 1951.53, 1879.01, 2083.2 ,
       1920.04, 1822.28, 2292.45, 2184.43, 2230.96, 2127.71, 1891.33,
       2142.07, 1973.09, 2209.46, 2283.53, 2292.9 , 2291.09, 2186.08,
       2054.58, 2090.72, 2459.65, 2217.79, 2114.23, 2273.79, 2255.42,
       1965.11, 1823.31, 2428.  , 2441.55, 1997.72, 2298.36, 2267.55,
       2302.55, 1812.1 , 1983.9 , 2410.38, 2559.74, 2179.75, 2126.77,
       2120.13, 1985.09, 1959.31, 2546.78, 1826.6 , 2608.5 , 2169.57,
       2218.62, 2147.77, 1893.72, 1997.14, 2535.38, 2166.26, 1913.5 ,
       1865.91, 2104.15, 2020.43, 2342.49, 2070.29, 2232.96, 2123.73,
       2175.59, 2148.15, 2205.14, 2005.88, 1672.93, 1935.24, 2277.18,
       2132.08, 2327.05, 2098.88, 2402.35, 1939.7 , 2460.66, 2194.29,
       1970.22, 1891.63, 2020.67, 2338.16, 2109.96, 2264.09, 2453.8 ,
       2559.86, 2080.69, 2324.24, 1894.5 , 2272.12, 2047.87, 2055.42,
       1996.18, 2265.52, 2527.04, 1554.09, 2042.51, 2181.42, 2264.57,
       1824.43, 2310.34, 1953.14, 1865.33, 2174.86, 1578.27, 2450.5 ,
       1854.99, 1957.66, 1943.6 , 1811.97, 2254.17, 2157.  , 2241.39,
       2483.85, 2043.2 , 1897.74, 1956.04, 2350.57, 2700.88, 1710.17,
       2430.77, 1852.94, 2088.42, 1972.6 , 2279.02, 1809.07, 2424.65,
       1825.72, 2162.9 , 2165.36, 2436.3 , 2495.18, 1813.67, 2027.79,
       1979.63, 2210.02, 2579.04, 2343.9 , 1744.4 , 2406.78, 2533.05,
       2179.35, 2308.96, 1468.93, 2114.01, 2183.66, 2114.93, 1882.75,
       2045.43, 2464.57, 1791.13, 1968.55, 2269.75, 1948.58, 2584.88,
       1966.99, 2701.4 , 2067.55, 1992.71, 2133.13, 2119.16, 1721.59,
       2083.69, 2177.31, 2255.98, 2145.51, 1934.14, 2157.53, 1881.07,
       1951.96, 2294.51, 1871.19, 2389.73, 1978.31, 2313.56, 2270.66,
       2177.38, 1902.44, 2090.33, 1994.41, 1976.25, 2396.54, 2088.24,
       2315.32, 1765.5 , 1941.59, 2453.73, 1929.13, 2042.12, 2103.56,
       2125.85, 1934.98, 2346.37, 2173.72, 2203.23, 2031.41, 2346.55,
       2298.6 , 2112.17, 1849.51, 1684.95, 1640.08, 2056.59, 2168.51,
       2352.62, 2203.7 , 1859.7 , 1902.51, 2286.49, 2130.59, 2294.29,
       2269.56, 2194.97, 2150.81, 1950.91, 2132.01, 2470.26, 2274.61,
       2125.4 , 1905.43, 1610.4 , 2565.84, 2295.57, 2273.19, 2121.9 ,
       1825.  , 2123.07, 1406.92, 1994.21, 1886.07, 2128.33, 1921.86,
       1678.38, 2033.56, 2306.88, 2149.83, 2610.08, 1656.51, 1972.24,
       2348.29, 2091.06, 2095.62, 2307.45, 2037.75, 2280.54, 1980.93,
       1963.42, 2839.31, 2151.85, 2017.94, 2524.88, 2099.85, 2073.02,
       1941.05, 1922.55, 2010.11, 2390.27, 2214.42, 2443.02, 2033.3 ,
       2106.34, 2617.72, 2338.01, 2335.63, 2586.94, 2235.12, 2105.74,
       1660.44, 2074.02, 2225.81, 2395.64, 1978.04, 2592.95, 2027.89,
       2973.81, 2201.93, 2121.61, 2268.04, 1810.46, 1906.38, 2522.49,
       2117.23, 2444.14, 2348.63, 2312.43, 2422.44, 2322.7 , 2064.1 ,
       2412.15, 1950.81, 1716.89, 2438.39, 1843.02, 2089.02, 1712.68,
       1939.54, 2182.09, 2120.46, 2011.53, 2202.23, 2461.65, 2471.48,
       2435.53, 2249.69, 1898.37, 1727.21, 2595.73, 1935.49, 2059.57,
       2053.66, 2349.33, 1694.1 , 2292.62, 2078.1 , 2360.28, 2064.39,
       2241.82, 2058.53, 1958.04, 1846.76, 2155.63, 2286.77, 2025.3 ,
       2101.97, 2178.28, 2263.93, 2204.9 , 2278.33, 2250.78, 2189.81,
       2419.29, 1942.63, 2495.32, 2040.53, 2277.55, 2028.83, 2333.56,
       2349.59, 2092.05, 2175.07, 1989.17, 2047.53, 2464.62, 2196.63,
       2087.36, 2298.56, 2432.06, 2204.33, 1861.46, 1974.89, 2324.55,
       2213.41, 1517.13, 2145.58, 1671.39, 2201.26, 2061.44, 2026.79,
       2306.4 , 2504.82, 1850.31, 2049.65, 1999.33, 2548.14, 1770.34,
       2419.34, 2042.06, 2177.6 , 2049.99, 2022.29, 1957.73, 2107.14,
       1926.41, 2060.91, 2201.78, 2519.61, 2195.86, 2098.03, 2186.3 ,
       2141.07, 2411.64, 2080.15, 1955.71, 2472.83, 1675.74, 2161.67,
       2171.86, 2103.1 , 2110.5 , 2121.35, 2317.65, 2400.52, 2324.02,
       2240.06, 1804.81, 2089.31, 1861.72, 2088.56, 1897.29, 1946.12,
       2414.64, 2311.92, 2366.17, 2236.76, 2136.68, 2064.21, 2227.23,
       2204.48, 2307.53, 1745.35, 1970.37, 2301.94, 1684.05, 1938.58,
       2042.38, 2018.28, 2357.69, 2125.78, 2201.33, 2290.62, 1943.62,
       2245.7 , 1866.82, 2317.99, 2158.12, 2312.62, 1839.16, 2039.59,
       2401.35, 2092.38, 2016.56, 2121.58, 2111.56, 1957.74, 2292.39,
       2231.99, 2130.71, 1973.14, 2084.89, 2103.04, 2019.62, 2148.23,
       1931.25, 2009.01, 1906.87, 2223.74, 2514.68, 2257.97, 2672.2 ,
       2262.63, 2474.24, 2153.68, 1962.69, 2039.9 , 2643.3 , 1872.1 ,
       2127.21, 2212.13, 1776.06, 2185.44, 2054.09, 2094.29, 2048.82,
       2244.97, 2280.41, 2180.86, 1745.82, 2392.89, 2005.03, 2196.91,
       2033.44, 2027.14, 1946.88, 2076.98, 2109.92, 2032.08, 2417.67,
       2489.97, 2238.17, 1655.84, 2394.76, 1953.84, 2416.15, 2300.81,
       1994.06, 2005.15, 2157.19, 2110.91, 2222.65, 2245.87, 2370.99,
       2310.92, 2200.05, 2180.8 , 1864.65, 2140.24, 1766.75, 2383.9 ,
       2092.17, 2023.71, 2392.29, 2425.21, 1885.98, 1709.96, 2035.91,
       2768.26, 2134.26, 2146.29, 2179.3 , 1808.27, 2474.65, 2268.56,
       2351.05, 1868.63, 2079.52, 2061.82, 2051.43, 2450.26, 2102.92,
       2260.28, 2630.94, 1765.06, 2035.44, 2264.58, 1973.26, 2130.25,
       2149.49, 1814.17, 2626.41, 2204.93, 2292.1 , 2018.57, 1732.9 ,
       2126.47, 2113.52, 2186.91, 2464.8 , 2418.25, 2257.56])

# 11. 파일 제출

In [26]:
pd.DataFrame({'submission' : pred}).to_csv('regression_submission.csv', index = False)

In [27]:
df = pd.read_csv('./regression_submission.csv')
df

     submission
0       1710.98
1       2544.75
2       2144.03
3       2147.14
4       2285.75
..          ...
995     2113.52
996     2186.91
997     2464.80
998     2418.25
999     2257.56

[1000 rows x 1 columns]